.installment-payment-done-header
{
    .text-center{
        text-align: center;
    }
    .align-self-center{
        align-self: center;
    }
    .div-goback{
        position: absolute;height: 48px;width: 48px;top: 0px;

        .img-goback{
            height: 48px; 
            padding: 8px;
            margin-top: -2px;
            margin-left:-14px
        }
    }
    .title-header{
        padding-top: 6px;
        font-size: 20px;
        font-weight: bold;
    }
}

.installment-payment-done-content{
    padding: 16px;
    .div-label-title{
        padding-top: 12px;
        padding-bottom: 16px;
        text-align: center;
    }
    .f-bold{
        font-weight: 600;
    }
    .cls-primary{
        color: #26bed6;
    }
    .cls-cancel{
        color: red;
    }
    .cls-code{
        color: #ff9500;
    }
}

.button2
{
    background: #ff9500;
    color: #ffffff;
    border-color: #ff9500;
    width: 90%;
    font-size: 17px !important;
    letter-spacing: -0.4px;
} 
.text{
    font-size: 14px;
    letter-spacing: -0.4px;
    line-height: 2;
}