
<ion-header class="food-combo-detail-header cls-disabled">
  <ion-toolbar style="--border-width: 0;padding-top: 8px !important;">
      <ion-row>
          <ion-col size="1" class="col-header-1">
            <div style="position: absolute" (click)="goback()">
              <img class="img-back" src="./assets/imgs/ios-arrow-round-back.svg">
          </div>
          </ion-col>
          <ion-col size="10" class="col-header-2" *ngIf='comboitem'>
            <div class="div-comboname">
              <div class="text-comboname">
                <label class="text-title">{{comboitem.name}}</label>
              </div>
            </div>
          </ion-col>
          <ion-col size="1" class="col-header-3">
            <div class="img-sharehd" (click)="showCart()">
                <img class="img-cart" src="./assets/ic_food/supermarket.svg" >
                <ion-badge *ngIf="countcart" color="danger" class="cls-badge-cart-header">{{countcart}}</ion-badge>
            </div>
          </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content #scrollFoodDetail (ionScroll)="scrollFunction($event)" [scrollEvents]="true">
  <div class="food-combo-detail" *ngIf="(loaddatadone && slideData.length >0) else loadsk">
      <div class="div-wraper-image">
        <ion-slides (ionSlideDidChange)="slidechange()" [options]="slideOpts" #mySlider>
  
          <ion-slide *ngFor="let slide of slideData">
            <div id="grad1" class="grad1">
            </div>
            <img-loader *ngIf="slide && slide.image" class="slide-img" [src]="slide.image" backgroundSize="cover"></img-loader>
            <div class="div-go-back" (click)="goback()">
              <img class="img-back" src="./assets/imgs/ios-arrow-round-back-white.svg">
              <div class="div-img-background div-goback-background"></div>
            </div>
            <div class="badgescss" *ngIf="lengthslide > 1">
              <span>{{coutslide}}/{{lengthslide}}</span>
            </div>

            <div class="div-img-heart" (click)="showCart()">
              <img class="img-cart" src="./assets/ic_food/cart_white.svg">
              <div class="div-img-background div-cart-background"></div>
              <ion-badge *ngIf="countcart >0" color="danger" class="cls-badge-cart">{{countcart}}</ion-badge>
            </div>

          </ion-slide>
        </ion-slides>
      </div>

      <div class="div-wraper-section">
          <div class="div-section-one" *ngIf="comboitem">
              <div class="d-flex">
                  <div class="text-catname" *ngIf="comboitem">{{comboitem.name}}</div>
              </div>
              <div class="text-catname d-flex m-0" *ngIf='combodetail'>
                <div >tuần</div>
                <div class="m-l-6">{{textmon}}</div>
                <div class="text-arrow"><img src="../../assets/ic_food/ic_arrow.svg"></div>
                <div > {{textfri}}</div>
              </div>
              <div class="d-flex m-8" *ngIf="comboitem.avgPoint else noPoint">
                  <div class="div-badge">{{comboitem.avgPoint}}</div>
                  <div class="text-recommend">{{comboitem.numOfReview}} đánh giá</div>
                  <div class="text-price" *ngIf="!priceChangeDisplay else pricechange">
                    <div>{{priceDisplay}} <span class="s-text">đ/tuần</span></div>
                  </div>
                  <ng-template #pricechange>
                    <div class="text-price">
                        <div>{{priceChangeDisplay}} <span class="s-text">đ/tuần</span></div>
                    </div>
                </ng-template>

              </div>
              <ng-template #noPoint>
                  <div class="text-price no-absolute" *ngIf="!priceChangeDisplay else pricechange">
                    <div>{{priceDisplay}} <span class="s-text">đ/tuần</span></div>
                  </div>
                  <ng-template #pricechange>
                    <div class="text-price no-absolute">
                        <div>{{priceChangeDisplay}} <span class="s-text">đ/tuần</span></div>
                    </div>
                </ng-template>
              </ng-template>
              <div class="div-border-bottom" *ngIf="comboitem.totalBook24H"></div>
              <div class="d-flex" [ngClass]=" comboitem.avgPoint ? 'p-top-8' : ''" *ngIf="comboitem.totalBook24H">
                  <div class="div-rect">Đang bán chạy</div>
                  <div class="text-hot-sale">{{comboitem.totalBook24H}} Khách đặt trong 24h qua</div>
              </div>
          </div>
          <div class="div-split-review"></div>
          
          <div class="div-section-menu">

            <div class="div-slide-menu">
              <div class="swiper-menu">
                <div class="div-menu-suggest main-color" (click)="setActiveMenuTab(1)">Món ăn gợi ý</div>
                <div class="div-menu-fresh sub-color" (click)="setActiveMenuTab(2)">Nguyên liệu làm sạch</div>
                <div class="active-mark-menu"></div>
              </div>
            </div>

            <!-- <ion-slides #slideTab (ionSlideDidChange)="slidetabchange()" [options]="slideOpts">
              <ion-slide> -->
                <div class="div-suggest-content" *ngIf="menuActive == 1">
                  <div class="div-menu-item" *ngIf="menus.length >0">
                    <div class="menu-item" *ngFor="let menu of menus; let idx = index" id="{{menu.id}}">
                      <ion-item-sliding #slidingItem *ngIf="!menu.remove else itemdisabled">
                        <ion-item style="--padding-start:0;--background: transparent;--border-style:none;--padding-end:0">
                          <div class="d-flex h-78">
                              <div class="div-left">
                                <div class="div-image">
                                  <img-loader class="img-cook" [src]="menu.avatarRecommend" backgroundSize="cover" *ngIf="menu.avata else tempimage"></img-loader>
                                  <ng-template #tempimage>
                                    <img-loader class="img-cook" [src]="comboitem.image" backgroundSize="cover"></img-loader>
                                  </ng-template>
                                  
                                  <div class="div-wrap-image"></div>
                                  <div class="div-wrap-text">
                                    <div class="text-day" *ngIf="idx==0">Thứ 2</div>
                                    <div class="text-day" *ngIf="idx==1">Thứ 3</div>
                                    <div class="text-day" *ngIf="idx==2">Thứ 4</div>
                                    <div class="text-day" *ngIf="idx==3">Thứ 5</div>
                                    <div class="text-day" *ngIf="idx==4">Thứ 6</div>
                                  </div>
                                </div>
                              
                              </div>
                              <div class="div-right">
                                <div *ngIf="menu.recommend else dayoff" [ngClass]="menu.isRecommend ? 'cls-recommend text-forecipe-2' : 'text-forecipe-2'"  [innerHTML]="menu.recommend" ></div>
                                <ng-template #dayoff>
                                  <div class="text-forecipe-2 v-align-center">Nghỉ</div>
                                </ng-template>
                                
                                <div class="div-howtocook" (click)="showBlog(menu)" *ngIf="menu.recommend">
                                  <div class="text-howtocook">Xem cách nấu<span class="img-span"><img src="./assets/imgs/vector.svg"></span></div>
                                </div>
                              </div>
                          </div>
                      </ion-item>
                      <ion-item-options side="end" *ngIf="menu.recommend && menusoff.length <4">
                        <ion-item-option color="danger" (click)="removeMenu(menu, slidingItem)">
                          Bỏ bớt
                        </ion-item-option>
                        
                      </ion-item-options>
                      </ion-item-sliding>
                      <ng-template #itemdisabled>
                        <div class="d-flex h-78 opt-disabled">
                          <div class="div-left">
                            <div class="div-image">
                              <img-loader class="img-cook" [src]="menu.avatarRecommend" backgroundSize="cover" *ngIf="menu.avata else tempimage"></img-loader>
                              <ng-template #tempimage>
                                <img-loader class="img-cook" [src]="comboitem.image" backgroundSize="cover"></img-loader>
                              </ng-template>
                              
                              <div class="div-wrap-image"></div>
                              <div class="div-wrap-text">
                                <div class="text-day" *ngIf="idx==0">Thứ 2</div>
                                <div class="text-day" *ngIf="idx==1">Thứ 3</div>
                                <div class="text-day" *ngIf="idx==2">Thứ 4</div>
                                <div class="text-day" *ngIf="idx==3">Thứ 5</div>
                                <div class="text-day" *ngIf="idx==4">Thứ 6</div>
                              </div>
                            </div>
                          
                          </div>
                          <div class="div-right">
                            <div *ngIf="menu.recommend else dayoff" [ngClass]="menu.isRecommend ? 'cls-recommend text-forecipe-2' : 'text-forecipe-2'"  [innerHTML]="menu.recommend" ></div>
                            <ng-template #dayoff>
                              <div class="text-forecipe-2 v-align-center">Nghỉ</div>
                            </ng-template>
                            
                            <div class="div-howtocook" (click)="showBlog(menu)" *ngIf="menu.recommend">
                              <div class="text-howtocook">Xem cách nấu<span class="img-span"><img src="./assets/imgs/vector.svg"></span></div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                      <div [ngClass]="idx == menus.length-1 ? '' : 'div-line'"></div>
                    </div>
                  </div>
                </div>
              <!-- </ion-slide>

              <ion-slide> -->
                <div class="div-fresh-content" *ngIf="menuActive == 2">
                  <div class="div-menu-item" *ngIf="menus.length >0">
                    <div class="menu-item" *ngFor="let menu of menus; let idx = index" [ngClass]="menu.remove ? 'opt-disabled' : ''">
                      <ion-item-sliding #slidingItem *ngIf="!menu.remove else itemdisabled">
                        <ion-item style="--padding-start:0;--background: transparent;--border-style:none;--padding-end:0">
                            <div class="d-flex div-width-100" [ngClass]="menu.isdayoff ? 'm-bottom-10' : ''">
                                <div class="div-left">
                                  <div class="div-image">
                                    <img-loader class="img-cook" [src]="menu.avata" backgroundSize="cover" *ngIf="menu.avata else tempimage"></img-loader>
                                    <ng-template #tempimage>
                                      <img-loader class="img-cook" [src]="comboitem.image" backgroundSize="cover"></img-loader>
                                    </ng-template>
                                    <div class="div-wrap-text">
                                      <div class="text-day" *ngIf="idx==0">Thứ 2</div>
                                      <div class="text-day" *ngIf="idx==1">Thứ 3</div>
                                      <div class="text-day" *ngIf="idx==2">Thứ 4</div>
                                      <div class="text-day" *ngIf="idx==3">Thứ 5</div>
                                      <div class="text-day" *ngIf="idx==4">Thứ 6</div>
                                    </div>
                                    <div class="div-wrap-image"></div>
                                  </div>
                                  
                                  
                                </div>
                                <div class="div-right">
                                  <div *ngFor="let item of menu.mainmenu">
                                    <div ngClass="text-forecipe-2">
                                        {{item.name}} </div>
                                  </div>
          
                                  <div *ngFor="let item1 of menu.submenu">
                                      <div class="text-forecipe-2">{{item1.name}} </div>
                                  </div>
          
                                  <div *ngFor="let item2 of menu.othermenu">
                                      <div class="text-forecipe-2">{{item2.name}}</div>
                                  </div>

                                  <div *ngIf="menu.isdayoff" class="text-forecipe-2 v-align-center">Nghỉ</div>
                                </div>
          
                                <div class="div-unit">
                                  <div *ngFor="let item of menu.mainmenu">
                                    <div class="div-subforecipe f-w-normal">{{item.quantity}} {{item.unit}}</div>
                                  </div>
          
                                  <div *ngFor="let item1 of menu.submenu">
                                      <div class="div-subforecipe">{{item1.quantity}} {{item1.unit}}</div>
                                  </div>
          
                                  <div *ngFor="let item2 of menu.othermenu">
                                      <div class="div-subforecipe">{{item2.quantity}} {{item2.unit}}</div>
                                  </div>
                                </div>
                            </div>
                        </ion-item>
                        <ion-item-options side="end" *ngIf="menu.recommend && menusoff.length <4">
                          <ion-item-option color="danger" (click)="removeMenu(menu, slidingItem)">
                            Bỏ bớt
                          </ion-item-option>
                          
                        </ion-item-options>
                      </ion-item-sliding>

                      <ng-template #itemdisabled>
                        <div class="d-flex opt-disabled" [ngClass]="menu.isdayoff ? 'm-bottom-10' : ''">
                          <div class="div-left">
                            <div class="div-image">
                              <img-loader class="img-cook" [src]="menu.avata" backgroundSize="cover" *ngIf="menu.avata else tempimage"></img-loader>
                              <ng-template #tempimage>
                                <img-loader class="img-cook" [src]="comboitem.image" backgroundSize="cover"></img-loader>
                              </ng-template>
                              <div class="div-wrap-text">
                                <div class="text-day" *ngIf="idx==0">Thứ 2</div>
                                <div class="text-day" *ngIf="idx==1">Thứ 3</div>
                                <div class="text-day" *ngIf="idx==2">Thứ 4</div>
                                <div class="text-day" *ngIf="idx==3">Thứ 5</div>
                                <div class="text-day" *ngIf="idx==4">Thứ 6</div>
                              </div>
                              <div class="div-wrap-image"></div>
                            </div>
                            
                            
                          </div>
                          <div class="div-right">
                            <div *ngFor="let item of menu.mainmenu">
                              <div ngClass="text-forecipe-2">
                                  {{item.name}} </div>
                            </div>
    
                            <div *ngFor="let item1 of menu.submenu">
                                <div class="text-forecipe-2">{{item1.name}} </div>
                            </div>
    
                            <div *ngFor="let item2 of menu.othermenu">
                                <div class="text-forecipe-2">{{item2.name}}</div>
                            </div>

                            <div *ngIf="menu.isdayoff" class="text-forecipe-2 v-align-center">Nghỉ</div>
                          </div>
    
                          <div class="div-unit">
                            <div *ngFor="let item of menu.mainmenu">
                              <div class="div-subforecipe f-w-normal">{{item.quantity}} {{item.unit}}</div>
                            </div>
    
                            <div *ngFor="let item1 of menu.submenu">
                                <div class="div-subforecipe">{{item1.quantity}} {{item1.unit}}</div>
                            </div>
    
                            <div *ngFor="let item2 of menu.othermenu">
                                <div class="div-subforecipe">{{item2.quantity}} {{item2.unit}}</div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                      <div [ngClass]="idx == menus.length-1 ? '' : 'div-line-fresh'"></div>
                    </div>
                  </div>
                </div>
              <!-- </ion-slide>
            </ion-slides> -->

            
          </div>

          <div class="div-split"></div>

          <div class="div-section-two" *ngIf="arrdescription && arrdescription.length >0">
              <div class="sub-title">{{arrdescription[0].title}}</div>
              <div class="text-desc" [innerHTML]="arrdescription[0].content"></div>
          </div>

          <!-- <div class="div-split"></div>
          <app-foodchefitem [item]="chef"></app-foodchefitem> -->
         
          <div class="div-split"></div>
          <div class="div-section-payment">
              <div class="sub-title">Phương thức giao hàng</div>
              <div class="img-bag">
                <img class="image-bag" src="../../assets/ic_food/paper_bag.jpg">
              </div>
              <div class="text-desc p-top-4">Bữa tối sơ chế và đóng gói trong túi giấy ngay trước khi giao</div> 
              <div class="text-desc p-top-4">Giao tối thiểu 2 khẩu phần</div> 
              <div class="text-desc p-top-4">Giao hàng miễn phí từ 16h30 đến 17h30 hàng ngày tại các khu vực:
                <div *ngFor="let item of District" class="p-top-4">
                  <ion-label class="text-content" >
                   <span class="namecity">+ {{item.namecity}}</span>: {{item.namedist}}
                  </ion-label>
                </div>
              </div>
              <div class="text-desc p-top-4">- Quý khách ngoài khu vực trên vui lòng để lại thông tin liên lạc, iVIVU sẽ cố gắng hỗ trợ Quý khách trong thời gian sớm nhất.<span (click)="changeplace()" class="text-yck"> Yêu cầu giao khu vực khác<img class="cls-img" src="./assets/imgs/vector.svg"></span></div>
          </div>
          
          <div class="div-split"></div>
          <div class="div-section-menu-relate">
              <div class="text-title m-bottom-16">Gói nguyên liệu tương tự</div>

              <div class="div-wrap-slide">
                <div class="div-slide-item" *ngFor="let item of menurelates; let idx = index">
                      <app-fooddinneritemlike [item]="item"></app-fooddinneritemlike>
                </div>
            </div>
          </div>
    </div>
   
    </div>
    <ng-template #loadsk>
      <div *ngIf="!loaddatadone && !nodataprice">
        <div>
          <!-- <img src="./assets/placeholder/group_hoteldetail.svg"> -->
          <div class="div-sk-image">
            <ion-skeleton-text animated style="width:100%;height:224px"></ion-skeleton-text>
          </div>
          <div padding>
            <div class="div-sk-text-title">
              <ion-skeleton-text animated style="width:100%;margin: 0;height: 16px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width:75%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width:50%;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
            </div>
            <div class="div-sk-detail" *ngFor="let i of itemsSk">
              <ion-row class="row-item-hoteldetail-sk">
                <ion-col size="4" class="col-img-hoteldetail-sk">
                  <ion-skeleton-text animated style="width:104px;height:104px;border-radius:6px;margin:0"></ion-skeleton-text>
                </ion-col>
                <ion-col size="8" class="col-description-hoteldetail-sk" style="line-height: 16px;padding-top: 0">
                  <ion-skeleton-text animated style="width: 50%;margin: 0;height: 16px;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 100%;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 75%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 50%;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row class="row-item-description-sk">
                <ion-skeleton-text animated style="width: 104px;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 83%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 67%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
              </ion-row>
              <ion-row>
                <ion-col size="8.5" style="padding: 0"></ion-col>
                <ion-col size="3.5" style="padding: 0">
                  <ion-skeleton-text animated style="margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6.3" style="padding: 0"></ion-col>
                <ion-col size="5.7" style="padding: 0">
                  <ion-skeleton-text animated style="margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row class="row-item-button-sk">
                <ion-skeleton-text animated style="width: 100%;margin: 0;height: 48px;border-radius: 6px;margin-top:16px">
                </ion-skeleton-text>
              </ion-row>
            </div>
          </div>
      
        </div>
        <div class="div-sk-detail" *ngFor="let i of itemsSk">
          <ion-row class="row-item-hoteldetail-sk">
            <ion-col size="4" class="col-img-hoteldetail-sk">
              <ion-skeleton-text animated style="width:104px;height:104px;border-radius:6px;margin:0"></ion-skeleton-text>
            </ion-col>
            <ion-col size="8" class="col-description-hoteldetail-sk" style="line-height: 16px;padding-top: 0">
              <ion-skeleton-text animated style="width: 50%;margin: 0;height: 16px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 75%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 50%;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row class="row-item-description-sk">
            <ion-skeleton-text animated style="width: 104px;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 83%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 67%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-col size="8.5" style="padding: 0"></ion-col>
            <ion-col size="3.5" style="padding: 0">
              <ion-skeleton-text animated style="margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6.3" style="padding: 0"></ion-col>
            <ion-col size="5.7" style="padding: 0">
              <ion-skeleton-text animated style="margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row class="row-item-button-sk">
            <ion-skeleton-text animated style="width: 100%;margin: 0;height: 48px;border-radius: 6px;margin-top:16px">
            </ion-skeleton-text>
          </ion-row>
        </div>
      </div>
      <div *ngIf="loaddatadone && nodataprice">
        <div class="text-center">
          <div class="img-empty"><img  src="../../assets/ic_food/fried.svg"></div>
          <div class="text-empty">Thực đơn không có cho tuần này. Vui lòng lựa chọn thực đơn khác</div>
          <div><button class="button button-main" (click)="goback()">Chọn thực đơn khác</button></div>
        </div>
      </div>
            
    </ng-template>
</ion-content>
<ion-footer *ngIf="!nodataprice">
  <div class="div-footer">
    <div class="div-button-flex">
      <button (click)="addToCart()" ion-button round outline [ngClass]="(menusoff && menusoff.length) <5 ? 'button button-cart' : 'button button-cart btn-disabled'">Thêm vào giỏ hàng</button>
      <button (click)="bookdinner()" ion-button round outline [ngClass]="(menusoff && menusoff.length) <5 ? 'button button2' : 'button button2 btn-disabled' ">Đặt ngay</button>
    </div>
  </div>
 
</ion-footer>