::ng-deep {
    .sc-ion-modal-ios-h.cls-order {
        --width: 100%;
        --min-width: auto;
        --max-width: auto;
        --height: 76%;
        --min-height: auto;
        --max-height: auto;
        --overflow: hidden;
        --border-radius: 0;
        --border-width: 0;
        --border-style: none;
        --border-color: transparent;
        --box-shadow: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        position: absolute;
        -ms-flex-align: center;
        align-items: center;
        justify-content: center;
        contain: strict;
        align-items: flex-end;
        --background: url("../../assets/ic_close_w.svg") none;
        position: fixed;
        padding-bottom: env(safe-area-inset-bottom);
    }
    @media (min-height: 812px) and (max-height: 840px){
        .sc-ion-modal-ios-h.cls-order{
            --height: 73%;
        }
    }
}
.m-0{
    margin: 0 !important;
}
.food-combo-detail-header{
    .div-comboname{
        align-self: center;
        max-width: 96%;
        margin-left: 24px;
    }
    
    .text-comboname{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    .text-title
        {
          font-weight: 600;
          font-size: 18px;
        }
        .img-back{
            height: 48px;
            width: 48px;
            margin-top: -10px;
            margin-left: 6px;
        }
        .img-cart{
            margin-top: 6px;
            width: 18px;
            margin-right: 0px;
        }
        .col-header-1,.col-header-3{
            padding: 0;
        }
        .col-header-2{
            padding: 0;
            display: table-cell;
            margin-top: 6px;
            text-align: center;
        }
        .cls-badge-cart-header{
            color: #fff;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            z-index: 999;
            position: absolute;
            top: -4px;
            right: -2px;
            padding: 1px;
        }
}

.food-combo-detail-header:after{
    height: 2px;
    box-shadow: 0px 0px 2px 0px #dedede;
}
.v-align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.m-bottom-10{
    margin-bottom: 10px;
}
.opt-disabled{
    opacity: 0.5;
}



.food-combo-detail{

    
    .text-center{
        text-align: center;
        margin-top: 150px;
    
        .img-empty{
            padding-top: 96px;
            padding-bottom: 32px;
        }
        .text-empty{
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: -0.4px;
            color: #333333;
        }
        .button-main{
            background: #ff9500 !important;
            color: #ffffff !important;
            border-color: #ff9500 !important;
            width: 91%;
            font-size: 16px !important;
            line-height: 1.5;
            letter-spacing: -0.48px;
            margin: 0 16px;
            margin-top: 32px;
        }
    }
    .div-wraper-image{
        width: 100%;
        height: 224px;
        overflow: hidden;

       
        .slide-img{
            height: 100% !important;
            width: 100% !important;
            object-fit: cover;
        }
        ion-slide{
            position: relative;
            text-align: center;
            height: 224px;
        }
        #grad1 {
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 30%; /* For browsers that do not support gradients */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Standard syntax (must be last) */
            z-index: 10;
        }

        .div-img-heart{
            position: absolute;
            top: calc(env(safe-area-inset-top) - 0px);
            left: 87%;
            z-index: 10;
            font-size: 20px;
            width: 48px;
            height: 48px;

            .img-cart{
                padding-top:12px;
                width: 18px;
                position: absolute;
                left: 15px;
                z-index: 9;
            }
    }

        .div-go-back{
            z-index: 100;
            position: absolute;
            top: calc(env(safe-area-inset-top) - 0px);
              color: #ffffff;
              width: 48px;
              height: 48px;
              left: 8px;

              .img-back{
                margin-top: 6px;
                height: 36px;
                position: absolute;
                z-index: 9;
                left: 6px;

              }
        }
        .div-float-arrow{
            position: absolute;
            z-index: 12;
            width: 100%;
            background-color: white;
            color: --ion-text-color;
            padding-left: 16px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.2s, opacity 0.2s linear;
        }
        .float-arrow-enabled{
            visibility: visible;
            transition: visibility 0.2s, opacity 0.2s linear;
            opacity: 1;
            height: 48px;
        }
        .float-arrow-disabled{
            visibility: hidden;
            height: 0px;
            opacity: 0;
            transition: visibility 0.2s, opacity 0.2s linear;
            z-index: 0;
        }

        .badgescss {
            position: absolute;
            color: #ffffff;
            z-index: 10;
            background: rgba(0, 0, 0, 0.5);
            border: 0.5px solid rgba(255, 255, 255, 0.5);
            box-sizing: border-box;
            font-weight: 100;
            display: block;
            padding: 4px 8px;
            font-size: 14px;
            border-radius: 10px;
            right: 16px;
            bottom: 16px;
            }
            .div-img-heart{
                    position: absolute;
                    top: calc(env(safe-area-inset-top) - 0px);
                    left: 87%;
                    z-index: 10;
                    font-size: 20px;
                    width: 48px;
                    height: 48px;

                    .img-cart{
                        padding-top:12px;
                        width: 18px;
                        position: absolute;
                        left: 15px;
                        z-index: 9;
                    }
            }
            .div-img-share{
                position: absolute;
                top: 4%;
                left: 74%;
                color: #ffffff;
                z-index: 10;
                width: 48px;
                height: 48px;

                .img-share{
                    padding-top:10px;
                    width: 18px;
                    position: absolute;
                    left: 15px;
                    z-index: 9;
                }
            }

            .div-img-background{
                background-color: #000;
                opacity: 0.3;
                position: absolute;
                border-radius: 24px;
            }
            .div-goback-background{
                height: 24px;
                width: 24px;
                top: 12px;
                left: 12px;
            }
            .div-share-background{
                height: 24px;
                width: 24px;
                top: 9px;
                right: 12px;
            }
            .div-cart-background{
                height: 24px;
                width: 24px;
                top: 9px;
                right: 12px;
            }
    }

    .div-wraper-section{
        padding: 0 16px 16px 16px;

        .div-section-one{
            .m-l-6{
                margin-left: 6px;
            }
            .text-arrow{
                width: 16px;
                margin: 0 4px;
                margin-top: 2px;
            }
            .text-catname{
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                margin-top: 8px;
            }
    
            .text-recommend{
                padding-left: 8px;
                color: #26bed6;
                width: auto;

            }
            .div-badge{
                width: 32px;
                height: 17px;
                border-radius: 6px;
                background-color: #a0c245;
                color: #fff;
                text-align: center;
                padding-top: 1px;
                font-size: 14px;
                font-weight: 600;
            }
    
            .div-text-point{
                padding-left: 8px;
            }
    
            .text-point{
                font-size: 12px;
                color: #333333;
                line-height: 20px;
                letter-spacing: -0.24px;
                min-width: 80px;
            }
            .div-star{
                padding-left: 8px;
                display: table-cell;
                align-self: center;
            }
            .ico-arrow
            {
                margin-right: 0px;
                width: 16px;
                height: 16px;
                position: absolute;
                margin-left: 8px;
            }
            
            .div-rect{
                width: 120px;
                height: 23px;
                border-radius: 4px;
                background-color: #e52822;
                color: #fff;
                font-size: 12px;
                font-weight: 600;
                padding: 3px 7px;
            }
            .text-hot-sale{
                padding-left: 8px;
                font-size: 12px;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: -0.24px;
                color: #e52822;
            }
            .text-price{
                font-size: 28px;
                letter-spacing: -0.27px;
                color: #26bed6;
                font-weight: 600;
                margin-bottom: 16px;
                text-align: right;

                position: absolute;
                right: 0;
                top: -9px;

                
            }
            .s-text{
                font-size: 12px;
                font-weight: 300;
                letter-spacing: -0.36px;
                color: #222222;
            }
            .text-price-nopoint{
                font-size: 28px;
                letter-spacing: -0.27px;
                color: #26bed6;
                font-weight: 600;
                margin-bottom: 16px;
            }
            .no-absolute{
                position: relative;
                margin-bottom: 0;
                top: -5px;
            }

            .div-border-bottom{
                border-bottom: solid 0.5px #f2f2f2;
                margin: 4px 0 4px 0;

            }
        }
    }
    .m-8{
        margin: 8px 0;
    }
    .m-bottom-16{
        margin-bottom: 16px !important;
    }
    .p-top-8{
        padding-top: 8px;
    }
    .p-top-20{
        padding-top: 20px;
    }
    .div-chef{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;

        .div-avatar{
            .img-chef{
                width: 65px;
                height: 65px;
                object-fit: fill;
                border-radius: 65px;
            }
        }
       
            .chef-name{
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.24px;
            }
            .chef-office-avatar{
                font-size: 14px;
                color: #828282;
                line-height: 20px;
                letter-spacing: -0.24px;
            }
    }

    .div-section-menu{

        .div-menu-item{
            .menu-item{
                margin-top: 16px;
                
            }
            .d-flex{
                display: flex;
            }
            .div-img-menu{
                width: 100%;
                height: 184px;
                position: relative;

                .img-menu{
                    height: 184px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 4px 4px 0 0;
                    position: absolute;
                }
            }
            .text-arrow{
                font-size: 24px;
                font-weight: 600;
                letter-spacing: -0.25px;
                margin: 0 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
            }
        }
        
        .p-l-0{
            padding-left: 0px !important;
            width: 32px !important;
        }
        .p-r-0{
            padding-left: 0 !important;
            width: 28px !important;
        }
        .text-menu{
            font-size: 36px;
            font-weight: 600;
            
            letter-spacing: -0.25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .text-week{
            font-size: 16px;
            font-weight: 600;
            letter-spacing: -0.34px;
            width: 44px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        
        .div-right, .div-unit{
            .text-forecipe-1{
                color: #000;
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
                padding-bottom: 3px;
            }
            .text-forecipe-2{
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;
                padding-bottom: 3px;
            }
            .text-forecipe-3,.div-subforecipe{
                color: #828282;
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;
                padding-bottom: 3px;
            }
            .f-w-normal{
                font-weight: 500 !important;
            }
            .div-howtocook{

                .text-howtocook{
                    color: #26bed6;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: -0.14px;
                }
                .img-span{
                    margin-left: 4px;
                }
            }
        }
        .div-right{
            width: 65%;
        }
        .div-unit{
            width: 20%;
            text-align: right;
        }
        .div-line{
            border-bottom: solid 1px #f2f2f2;
            margin-top: 16px;
        }
        .div-line-fresh{
            border-bottom: solid 1px #f2f2f2;
            margin: 16px 0;
            margin-top:0;
        }

        .div-left{
            position: relative;
            margin-right: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .div-image{
                width: 104px;
                height: 78px;
                position: relative;

                .img-cook{
                    width: 104px !important;
                    height: 78px !important;
                    object-fit: cover;
                    border-radius: 4px;
                }
            }

            
        }
        .div-wrap-image{
            width: 104px;
            height: 28px;
            position: absolute;
            object-fit: contain;
            border-radius: 4px;
            background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
            opacity: 0.3;
            bottom: 0;
        }
        .div-wrap-text{
            width: 104px;
            height: 22px;
            position: absolute;
            color: #fff;
            text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.5);
            bottom:0;
            font-size: 14px;
            text-align: center;
            z-index: 1;
        }

        ///////slide 
        .div-slide-menu{
            margin-left: -16px;
            margin-right: -16px;
            position: relative;
            
                .swiper-menu{
                    display: flex;
                    width: 100%;
                    color: #222222;
                    font-size: 16px;
                    z-index: 99;
                    
                    .div-menu-suggest{
                      width: 50%;
                      text-align: center;
                      padding-bottom: 6px;
                      font-size: 16px;
                    }
                  
                    .div-menu-fresh{
                      width: 50%;
                      text-align: center;
                      padding-bottom: 12px;
                      font-size: 16px;
                      font-weight: 300;
                      opacity: 0.7;
                    }
                  
                    .active-mark-menu{
                      position: absolute;
                      bottom: 0;
                      border-bottom: solid 3px #26bed6;
                      font-weight: 600 !important;
                      transition: left 0.5s ease-out;
                      width: 50%;
                      left: 0%;
                  
                    }
                    .sub-color{
                      font-weight: 300 !important;
                      opacity: 0.6;
                      border-bottom: solid 0.5px #cdcdcd;
                    }
                    .left-50{
                      left: 50%;
                    }
                    .focus{
                      font-weight: 600 !important;
                      opacity: 1 !important;
                    }
                  }
                  
                  
                  .div-wraper-menu{
                    width: 100%;
                    height: 100%;
                    position: relative;
                  }
                  
                  .swiper-menu.main-color{
                    color: #26bed6 !important;
                  }
                  .div-menu-suggest.main-color{
                    color: #26bed6 !important;
                    font-weight: bold !important;
                  }
                  .div-menu-suggest.sub-color{
                    color: #222222 !important;
                    opacity: 0.7;
                  }
                
                  .div-menu-fresh.main-color{
                    color: #26bed6 !important;
                    font-weight: bold !important;
                  }
                  .div-menu-fresh.sub-color{
                    color: #222222 !important;
                    opacity: 0.7;
                  }
                
                  .active-mark-menu.main-color{
                    border-bottom: solid 3px #26bed6 !important;
                  }
                  
            }

            .cls-tab-visible{
                visibility: visible;
                transition: visibility 2s, opacity 0.5s linear;
                opacity: 1;
                display: block;
              }
              .cls-tab-disabled{
                visibility: hidden;
                height: 0px;
                opacity: 0;
                transition: visibility 2s, opacity 0.5s linear;
                z-index: 0;
                display: none;
              }  
    }

    .d-flex{
        display: flex;
        position: relative;
    }
    .text-title{
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.13px;
        font-weight: 600;
    }
    .sub-title{
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.34px;
    }
    .menu-title{
        height: 52px;
    }
    .text-right{
        text-align: right;
    }
    .f-column{
        flex-direction: column;
    }
    .text-desc{
        font-size: 14px;
        letter-spacing: -0.14px;
        line-height: 21px;
        color: #000;
       
    }
   
    .text-desc-bold{
        font-size: 14px;
        letter-spacing: -0.28px;
        line-height: 21px;
        font-weight: 600;
    }
    .text-sub-desc{
        font-size: 14px;
        letter-spacing: -0.14px;
        line-height: 21px;
        color: #4f4f4f;
    }
    .div-split{
        height: 6px;
        background: #f2f2f2;
        margin: 16px -16px 24px -16px;
    }
    .div-split-review{
        height: 6px;
        background: #f2f2f2;
        margin: 10px -16px 16px -16px;
    }
    .p-top-8{
        padding-top: 8px;
    }
    .p-top-4{
        padding-top: 4px;
    }
    .m-bottom-16{
        margin-bottom: 16px;
    }
    .div-section-payment{
        .text-yck
        {
            color: #26bed6;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.14px
        }
        .cls-img
        {
            margin-left: 4px;
        }
    }
    //reviews
    .div-section-review{
        .div-wraper-review
        {
            margin-top: 16px;
    
            .div-recent-review{
                padding: 24px 0px 0px 0px;
            }
            .text-recent-review{
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
            }
            .text-titlereview
            {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
            }
            .cls-textreview
            {
                margin-top: 6px;
                margin-right: 16px;
                letter-spacing: -0.4px;
                font-size: 14px;
                font-weight: 400;
                text-align: justify;
                line-height: 1.5rem;
            }
            .cls-ionbadgerw
            {
                width: 43px;
                height: 24px;
                border-radius: 6px;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: -0.51px;
                align-self: center;
                background: #A0C246;
            }
            .text-seemore {
                position: absolute;
                top: 35px;
                left: 30px;
                width: 66px;
                height: 32px;
                font-family: Helvetica;
                font-size: 12px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.52;
                letter-spacing: normal;
                color: #ffffff;
            }
            .cls-divback
            {
                position: absolute;
                top: 0px;
                left: 8px;
                width: 104px;
                height: 104px;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 6px;
            }
            
            .mt25
            {
                margin-top: 25px;
                position: relative;
            }
            .cls-ml6
            {
                margin-left: 6px;
            }
            .cls-ml8
            {
                margin-left: 8px;
                align-self: center;
                font-size: 14px;
                letter-spacing: -0.4px;
            }
            .div-cinout
            {
                height: 68px;
                background-color: #f2f2f2;
                padding: 20px 8px 8px 8px;
            }
            .cls-gridcinout
            {
                margin-top: -12px;
                padding: 8px;
            }
            .div-review{
                display: flex;
                margin-top: 11px;
            }
            .text-point{
                color: #26bed6;
                font-size: 18px;
                font-weight: 600;
            }
            .num-review {
                font-size: 12px;
                color: #828282;
                font-weight: 300;
            }
            .cls-ionbadge
            {
                width: 49px;
                height: 32px;
                border-radius: 6px;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: -0.51px;
                align-self: center;
                padding: 6px 0px 6px 0px;
                background: #A0C246;
            }
            
            .div-hotelreview{
                .pos-relative{
                    position: relative;
                }
                .date-review{
                    position: absolute;
                    top: 0;
                    right: 0;
                    line-height: 12px;
                    text-align: right;
                }
                
            }
            .lh-normal{
                line-height: inherit !important;
            }
            .div-wrap-review{
                width: 104px;
                height: 104px;
                margin-left: 8px;
            }
            
              .img2 {
                object-fit: cover;
                width: 104px;
                height: 104px;
                margin-left: 8px;
                border-radius: 5px
            }
            .img1 {
                object-fit: cover;
                width: 100px;
                height: 100px;
                margin-left: 5px;
                border-radius: 5px
            }
            .text-date-reviews{
                color: #828282;font-size: 12px;letter-spacing: -0.34px;
            }

            .cls-badge{
                width: 36px;
                height: 20px;
                border-radius: 6px;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: -0.51px;
                align-self: center;
                background: #a0c245;
            }
            .div-hotelreview{
                .pos-relative{
                    position: relative;
                  }
                  .date-review{
                    position: absolute;
                    top: 0;
                    right: 0;
                    line-height: 12px;
                    text-align: right;
                  }
                
            }
        }

        
    }
    
    //menu relate
    .div-section-menu-relate{
        margin-right: -16px;
    }
    .div-wrap-slide{
        overflow-x: auto;
        overflow-y: hidden;
        width: 105%;
        position: relative;
        margin-bottom: 16px;
        margin-left: -16px;
    
            .div-slide-item{
                display: table-cell;
                margin-left: 8px;
                align-self: center;
                width: 100%;
                height: 100%;
                position: relative;
                min-width: 312px;
                padding-left: 16px;
    
                
            }
            .div-slide-item:first-child{
                padding-left: 16px !important;
            }
            .div-slide-item:last-child{
                margin-right: 0px !important;
            }
            
          
    }
    .div-wraper-combo{
        .p-l-8{
            padding-left: 8px;
            min-height: 153px;
        }
        .d-flex{
            display: flex;
            .div-star{
                padding-left: 8px;
                display: table-cell;
                align-self: center;
            }
        }
        .div-item-combo{
            position: relative;
            margin: 0;
            margin-bottom: 24px;
            border-radius: 4px;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
            .div-img{
                width: 100%;
                height: 202px;
                position: relative;
            }
            .img-item{
                height: 202px;
                width: 100%;
                object-fit: cover;
                border-radius: 4px 4px 0 0;
                position: absolute;
            }
            .float-promo{
                position: absolute;
                top: 24px;
                left: -6px;
                background-color: #e52822;
                color: #fff;
                font-size: 12px;
                max-width: 95%;
                height: 22px;
                padding: 3px 12px 0px 13px;
                z-index: 11;
              }
            .float-promo:after {
                content: " ";
                position: absolute;
                left: 0px;
                top: 22px;
                border-top: 6px solid #851f1c;
                border-left: 6px solid transparent;
                border-bottom: none;
              }
            .text-catname{
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                margin-top: 8px;
            }

            .div-point{
                position: relative;
                .d-flex{
                    display: flex;

                    .text-recommend{
                        padding-left: 8px;
                        font-weight: 100;
                    }
                }
                .div-badge{
                    width: 32px;
                    height: 17px;
                    border-radius: 6px;
                    background-color: #a0c245;
                    color: #fff;
                    text-align: center;
                    padding-top: 1px;
                    font-size: 14px;
                    font-weight: 600;
                }

                .div-text-point{
                    padding-left: 8px;
                }

                .text-point{
                    font-size: 12px;
                    color: #333333;
                    line-height: 20px;
                    letter-spacing: -0.24px;
                    font-weight: 100;
                }

                .div-chef{
                    padding-top: 12px;
                    display: flex;

                    .chef-avatar{
                        .img-chef{
                            width: 32px;
                            height: 32px;
                            object-fit: fill;
                            border-radius: 32px;
                        }
                    }
                    .chef-desc{
                        display: flex;
                        flex-direction: column;
                        padding-left: 8px;

                        .chef-name{
                            font-size: 12px;
                            line-height: 20px;
                            letter-spacing: -0.24px;
                        }
                        .chef-office{
                            font-size: 12px;
                            color: #828282;
                            line-height: 14px;
                            letter-spacing: -0.24px;
                        }
                    }
                }

                .div-price{
                    position: absolute;
                    display: flex;
                    width: 100%;

                    .hot-deal{
                        width: 60%;
                        font-size: 12px;
                        letter-spacing: -0.24px;
                        color: #e52822;
                    }
                    
                }
            }
        }
      }
}

@media (min-width:375px) and (max-width: 375px) {
    .img2, .cls-divback{
        width: 109px !important;
        height: 109px !important;
    }
}

@media (min-width:414px) and (max-width: 420px) {
    .div-img-heart{
        left: 83% !important;
    }
}
p{
    margin: 0
}
.cls-badge-cart{
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    z-index: 999;
    position: absolute;
    top: 2px;
    right: 5px;
    padding: 1px;
}

.div-footer{
    background-color: #ffffff; 
    text-align: center; 
    display: flex;
    margin: 0px 8px;

    .div-button-flex{
        display: flex;
        width: 100%;
      }

      .button2
    {
        background: #ff9500;
        color: #ffffff;
        border-color: #ff9500;
        width: 90%;
        font-size: 17px !important;
        letter-spacing: -0.4px;
        margin-left: 8px;
    } 
    .button-cart
    {
        background: #ffffff;
        color: #ff9500;
        border: solid 1px #ff9500;
        width: 100%;
        font-size: 17px !important;
        letter-spacing: -0.4px;
        margin: 16px 0px;
        padding: 0;
    } 

    .btn-disabled{
        background: #bdbdbd !important;
        border: solid 1px #bdbdbd !important;
        color: #ffffff !important;
    }
}

.cls-visible{
    visibility: visible;
    transition: visibility 2s, opacity 2s linear;
    -webkit-transition: visibility 2s,opacity ease-in-out 2s;
    -moz-transition: visibility 2s,opacity ease-in-out 2s;
    -o-transition: visibility 2s,opacity ease-in-out 2s;
    transition: visibility 2s,opacity ease-in-out 2s;
    opacity: 1;
    height: 48px;

  }
  .cls-disabled{
    visibility: hidden;
    height: 0px;
    opacity: 0;
    transition: visibility 2s, opacity 2s linear;
    -webkit-transition: visibility 2s,opacity ease-in-out 2s;
    -moz-transition: visibility 2s,opacity ease-in-out 2s;
    -o-transition: visibility 2s,opacity ease-in-out 2s;
    transition: visibility 2s,opacity ease-in-out 2s;
    z-index: 0;
  }

  .namecity
  {
    font-weight: bold;
  }

  .innerreview{
    height: 100%;
    display: -webkit-box;
    overflow-x: auto;
    div{
      display:flex;
    }
    margin-top: 3px;
    margin-left: -5px;
  }
  .innerreview1{
      overflow-x: auto;
      display: -webkit-box;
    height: 100%;

    div{
      display:flex;
      width: 104px;
      height: 104px;
    }
    margin-top: 16px;
    margin-left: -8px;
  }

  p{
      margin: 8px 0;
  }
//   .h-78{
//     height: 80px;
//   }
  
  .img-bag{
      margin: 8px 0 16px 0;
      .image-bag{
        width: 100%;
        object-fit: cover;
      }
  }

.div-suggest-content,.div-fresh-content{
    width: 100%;
    text-align: left;
}

::ng-deep{
    .menu-item .item-options-ios.item-options-end{
        border: none;
    }

    .menu-item ion-item .item-inner{
        padding-right: 0;
    }

  }

  .text-center{
    text-align: center;
    margin-top: 120px;

    .img-empty{
        padding-top: 96px;
        padding-bottom: 32px;
    }
    .text-empty{
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.4px;
        color: #333333;
    }
    .button-main{
        background: #ff9500;
        color: #ffffff;
        border-color: #ff9500;
        width: 100%;
        font-size: 16px !important;
        line-height: 1.5;
        letter-spacing: -0.48px;
        margin: 0;
        margin-top: 32px;
    }
}