
    .text-name
    {
      font-weight: bold;
      font-size: 14px;
      .text-green
      {
        color: #26bed6
      }
    }
    .text-date
    {
        margin-top: 0px;
        font-weight: bold;
        font-size: 14px
    }
    .image-card{
      display: initial !important;
    }
    .total-price{
      color: #26bed6;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.69px;
      margin: 0;
      margin-top: 3px;
    }
    .total-price-d{
        color: #26bed6;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: -0.69px;
      }
    .button2
    {
        border-color: #F79221;
        background-color: #F79221;
        color: #ffffff;
        width: 90%;
        height: 48px;

    }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
      width: 104px;
      height: 104px;
    }
    .item.item-md .checkbox-md {
      position: static;
      display: block;
      margin: 9px 9px 9px 4px;
    }
    .text-room-price-ota{
      color:#828282;
      font-size: 14px;
      text-align: right;
      text-decoration: line-through;
      margin: 20px;
      margin-top: -20px;
  }
  .toolbar-title-md {
    text-align: center;
    margin-right: 70px;
  }  
  .div-wrapimg {
    position: relative;
    height:87px;
    width: 104px;
    overflow: hidden;
    border-radius: 5px;
}
hr
{
  background-color: #ccc;
}
.cls-hr
{
  margin-left: -16px;
  margin-right: -16px;
  height: 6px;
  background-color: #f2f2f2 !important;
}
@media (min-width:287px) and (max-width: 359px) {
  .col-description-roompayment{
    max-width: 188px;
    left: 12px;
  }

}
.text-infocar
{
    font-weight: 300;
    color: #4f4f4f;
    font-size: 12px
}
.combo-departure-time{
    font-size: 14px;
      font-weight: 300;
      padding-top: 4px;
  }
  .combo-flight-price-label-down{
    font-size: 14px;
    color: #003c71;
  }
  .flight-price{
    font-size: 13px;
    font-weight: bold;
  }
  .div-split-panel{
    height: 7px;
    background: #f2f2f2;
    margin-left: -16px;
    margin-right: -16px;
}
.text-location
{
    font-size: 16px;
    font-weight: bold
}
.combo-departure-time{
    font-size: 14px;
      font-weight: 600;
      padding-top: 4px;
  }
  .combo-flight-price-label-down{
    font-size: 14px;
    color: #003c71;
  }
  .flight-price{
    font-size: 13px;
    font-weight: bold;
  }
  .combo-flight-price-label-up{
    font-size: 14px;
    color: #ec971f;
  }
  .div-title{
    margin-top: 15px;
    .combo-title{
        font-size: 16px;
        font-weight: 600;
        color: #003c71;
    }
    .combo-sub-title{
        font-size: 18px;
        font-weight: bold;
        color: #f59233;
    }
    .combo-title{
      font-size: 18px;
      font-weight: bold;
  }
}
.cls-list
{
  margin-left: -15px;
}
.cls-divpayment
{
  margin-top: 10px;
  margin-left: -5px
}
.text-p
{
  font-size: 14px;
  color: #4f4f4f;
  letter-spacing: -0.4px;
}
.div-info
{
  margin-left: 3px;
  margin-top: -10px;
}
.cls-rowheight1
{
  margin-left: -5px;
  height: 81px;
  margin-bottom: 30px;
}
.text-note
{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: -0.24px;
    color: #828282;
    margin: 0;
    margin-left: 2px;
}
.text-food
{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.14px;
  color: #000000;
  
}
.text-price-food
{
    text-align: right;
}
.text-tax
{
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.24px;
  color: #828282;
  margin: 0;
}
.text-food
{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.14px;
  color: #000000;
}
.text-d
{
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.14px;
  color: #000000;
  font-size: 12px;
  margin-left: 3px;
}
.text-total
{
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  
}
.div-star{
  padding: 2px;
}
.installment-payment-header
{
    .text-center{
        text-align: center;
    }
    .align-self-center{
        align-self: center;
    }
    .div-goback{
        position: absolute;height: 48px;width: 48px;top: 0px;

        .img-goback{
            height: 48px; 
            padding: 8px;
            margin-top: -2px;
            margin-left:-14px
        }
    }
    .title-header{
        padding-top: 6px;
        font-size: 20px;
        font-weight: bold;
    }
}

.installment-payment-content{
    .p-top-16{
        padding-top: 16px;
    }
    .p-top-32{
        padding-top: 32px;
    }
    .p-top-6{
        padding-top: 6px;
    }
    .p-top-10{
        padding-top: 10px;
    }
    .m-left-8{
        margin-left: 8px;
    }
    .text-title{
        font-size: 17px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.4px;
    }
    .selected{
        opacity: 1 !important;
    }
    .period-selected{
        color: #ffffff !important;
        background: #26bed6 !important;
        border: none !important;
    }
    .booking-info{
        padding-top: 16px;
        
        .hotel-name{
            font-size: 16px;
            color: #003c71;
            font-weight: 600;
        }

        .booking-info-detail{
            display: flex;

            .div-img-left{
                height: 104px;
                width: 104px;
                min-width: 104px;

                .img-left{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 4px;
                }
            }

            .div-content-right{
                font-size: 14px;
                letter-spacing: -0.4px;
                padding-left: 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .p-left-6{
                    padding-left: 6px;
                }
            }
        }
    }
    .div-price{
        text-align: right;
        font-size: 18px;
        color: #26bed6;
        font-weight: 600;
    }
    
    .div-bank{
        display: flex;
        flex-wrap: wrap;
        .item-bank{
            width: 76px;
            height: 40px;
            border-radius: 4px;
            border: solid 0.5px #bdbdbd;
            background-color: #ffffff;
            opacity: 0.7;
            margin-top: 8px;
        }
        .img-bank{
            height: 40px;
            padding: 0px 4px;
            object-fit: contain;
        }
    }

    .div-card{
        display: flex;
        flex-wrap: wrap;
        .item-card{
            width: 76px;
            height: 40px;
            border-radius: 4px;
            border: solid 0.5px #bdbdbd;
            background-color: #ffffff;
            opacity: 0.7;
        }
        .img-card{
            height: 40px;
            padding: 0px 4px;
            object-fit: contain;
        }
    }

    .div-option{
        display: flex;
        .item-option{
            min-width: 76px;
            height: 40px;
            border-radius: 4px;
            border: solid 0.5px #bdbdbd;
            background-color: #ffffff;
            opacity: 0.7;
            display: flex;

            .div-month{
                margin: auto;
            }
        }
    }
    .row-flex{
        display: flex;
        
        .col-flex{
            width: 100%;
            padding: 12px 0px;
            text-align: center;
            .price-permonth{
                color: #26bed6;
                font-weight: 600;
                font-size: 18px;
            }
            .text-sub{
                font-size: 14px;
                font-weight: 200;
            }
            .price-text{
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
    
    .border-right{
        border-right: solid 0.5px #f4f4f4;
    }
    .border-top{
        border-top: solid 0.5px #f4f4f4;
    }
}

.button2
{
    background: #ff9500;
    color: #ffffff;
    border-color: #ff9500;
    width: 90%;
    font-size: 17px !important;
    letter-spacing: -0.4px;
} 