<ion-header class="insurrance-header">
  <ion-toolbar>
    <div class="div-goback" (click)="goback()">
      <img class="img-goback" src="./assets/imgs/ios-arrow-round-back.svg">
    </div>
    <ion-title class="toolbar-title">Bảo hiểm Cathay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="insurrance-note">
  <div style="height: 150%" class="note-content">
    <img style="margin-top: -40px;"  src="./assets/cathay/image1.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image2.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image3.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image4.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image5.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image6.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image7.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image8.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image9.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image10.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image11.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image12.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image13.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image14.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image15.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image16.jpg" >
    <img style="margin-top: -40px;"  src="./assets/cathay/image17.jpg" >
    </div>
    
</ion-content>
