  <div class="cls-tab-visible">
    <app-hometoursearch [itemSearch]="itemSearch"></app-hometoursearch>
    <app-hometouritemslide [type]="1"></app-hometouritemslide>
    <div class="div-award">
      <div class="item-award">
        <div class="div-logo-award"><img class="img-award" src="./assets/ic_home/wta-winner-shield.png" /></div>
        <div class="div-text-award m-top-8">Đại lý du lịch Trực tuyến hàng đầu Việt Nam</div>
      </div>
  
      <div class="item-award">
        <div class="div-logo-award"><img class="img-award" src="./assets/ic_home/HRA.png" /></div>
        <div class="div-text-award m-top-8">Best Companies to Work for in Asian</div>
      </div>
  
      <div class="item-award">
        <div class="div-logo-award"><img class="img-award" src="./assets/ic_home/APEA.png" /></div>
        <div class="div-text-award m-top-8">APEA Inspirational Brand Award</div>
      </div>
    </div>
  </div>
  
  <div class="div-myorder cls-tab-disabled">
    <!-- <app-order *ngIf="!isBizAccount else bookings"></app-order>
    <ng-template #bookings>
        <app-booking></app-booking>
    </ng-template> -->
  </div>
  <div class="div-notify cls-tab-disabled">
    <!-- <app-foodnotify></app-foodnotify> -->
  </div>
  <div class="div-account cls-tab-disabled">
    <!-- <app-foodaccount></app-foodaccount> -->
  </div>


