
    .checkbox-md-secondary .checkbox-checked {
        border-color: #26bed6;
        background-color: #26bed6;
    }
    .button2
    {
        background: #ff9500;
        color: #ffffff;
        border-color: #ff9500;
        width: 90%;
        margin: 8px 0 !important;
        font-weight: 500 !important;
        font-size: 20px !important;
    }
    .button1
    {
        color: #ff9500;
        border-color: #ff9500;
        width: 100%;
        font-size: 12px;
    }
    .div-btn
    {
        background-color: #ffffff; text-align: center;margin-top: 20px
    }
    .toolbar-title-md {
        text-align: center;
        margin-right: 70px;
      }  
      .row-payment-info{
        margin-left: -10px;
        margin-top: -30px
      }
    .text-payment-info{
        white-space: normal !important;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.4px;
        line-height: 28px;
        margin: 0;
    }
    .text-info{
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.4px;
        margin: 0;
        margin-bottom: 16px;
    }
    .text-link{
        text-decoration: underline;
        margin-bottom: 23px;
    }
    .text-bold{
        font-weight: 600;
    }
    .no-padding{
        padding: 0;
    }
    .grid-row-1{
        margin: -5px;
        padding: 0;
        padding-top: 11px;
        padding-bottom: 5px;
    }
    .grid-row-2{
        margin: -5px;
        padding: 0;
    }
    .m-bottom-23{
        margin-bottom: 23px;
    }
    .text-copy{
        padding-left: 4px;
    }
    .cls-ion-footer{
        box-shadow: 2px 4px 5px 0px #dedede;
        position: initial;
    }
    .btn-next
    {
        height: 44px !important;
        font-size: 17px !important;
        border-radius: 6px !important;
        font-weight: 600 !important;
        color: #ffffff;
        background-color: #f59233;
        width: 90%;
        margin: 0px !important;
    }
    .btn-load
    {
        height: 44px !important;
        font-size: 17px !important;
        border-radius: 6px !important;
        font-weight: 600 !important;
        color: #f59233;
        background-color: rgba(245, 146, 51, 0.1);
        width: 90%;
        margin: 0px !important;
    }
    .div-footer
    {
        background-color: #ffffff; 
        text-align: center;
        margin-bottom: 4px;
    }
    .img
    {
        width: 8px;
        margin-left: 5px;
    }
    .div-DK{
        display: flex;
        background-color: #F2F2F5;
        margin-left: -16px;
        margin-right: -16px;
        padding: 8px;
        margin-top: 24px;
        margin-bottom: 20px;
      }
      .checkbox-DK{
        margin-left: 10px;
        width: 28px;
        height: 18px;
        margin-top: 2px;
      }
      .text-DK{
        font-size: 14px;
        line-height: 1.2;
        color: #717484;
        margin-left: 3px;
      }
      .btn-disabled{
        background: #bdbdbd;
        color: #ffffff;
        width: 90%;
        height: 48px;
    }
    .text-link-DK{
      color: #2f80ed
    }
      
  
  
  
  