.text{
    font-size: 18px;
    font-weight: bold
}
.button2
{
    background: #ff9500;
    color: #ffffff;
    border-color: #ff9500;
    width: 90%;
    font-size: 17px !important;
    letter-spacing: -0.4px;
    margin-right: 8px;
} 
.button-installment
{
    background: #ffffff;
    color: #ff9500;
    border: solid 1px #ff9500;
    width: 90%;
    font-size: 17px !important;
    letter-spacing: -0.4px;
    margin: 16px 8px;
    padding: 0px;
} 
.button4
{
    background: #ff9500;
    color: #ffffff;
    border-color: #ff9500;
    width: 30%;
    font-size: 12px;
}

.list-departure{
    margin: 0;
    display: inline-flex;
}

.rd-departure .radio-icon{
    width: 12px;
    height: 12px;
}

.radio-md .radio-inner{
    left: 1px;
    top: 1px;
    width: 6px;
    height: 6px;
}
.radio-md .radio-checked {
    border-color: #26bed6;
}
.toolbar-title-md {
    text-align: center;
    margin-right: 70px;
  }  
.cls-label
{
    color: #828282;
    font-size: 12px
}

  
  .label-name{
      font-size: 12px;
      font-weight: 300;
      color: #828282;
  }
  .label-input{
    font-size: 14px;
    font-weight: 300;
    color: #000000;
  }
  .label-input-order{
    font-size: 14px;
    font-weight: 300;
    color: #828282;
  }

  .div-title-other-request{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    padding-top: 30px;
  }
  .div-title-export-order{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    padding-top: 12px;
  }

  .text-sub{
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.36px;
  }
  .button-edit
{
    background: #ffffff;
    color: #ff9500;
    border: solid 1px #ff9500;
    width: 90%;
    height: 27px !important;
    font-size: 17px !important;
    letter-spacing: -0.4px;
} 
.cls-ion-col
{
    align-self: center;
}
.cls-ion-row
{
    height: 45px;
}
.text-info
{
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.14px;
  color: #000000;
  line-height: 21px;
}
.div-info
{
    margin-left: 3px;
    margin-top: 20px;
}
.div-flex
{
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
}
.div-img
{
  margin-right: -15px;
}
.cls-ion-label
{
  width: 100%;
}
.div-split-panel{
  height: 0.5px;
  background: #f2f2f2;
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
}
.color-text
{

  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.14px;
  color: #828282;
  line-height: 21px

}
.color-text-select
{
  color: #000000;
}
.div-footer-flex
{
    text-align: center; 
    display: flex;
}
.div-footer
{
    text-align: center; 
}
.mt34
{
  margin-top: 34px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.div-1{
  margin-top: 10px;
  margin-left: -5px;
}
.text-change {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.14px;
  color: #26bed6;
}
.text-contact
{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.13px;
}
.div-2
{
  display: flex;
  position: relative;
}
.div-3
{
  width: 84%;
}
.div-change
{
  position: absolute;
    right: 0px;
}
.div-background
{
    background-color: #FAFAFA;
    margin-top: 24px;
    margin-left: -16px;
    margin-right: -16px;
}
.text-content
{
    font-size: 14px;
    letter-spacing: -0.4px;
    color: #000000;
}
.div-content
{
    margin-left: 16px;
    padding-top: 8px;
    margin-right: 16px;
}
.mt5
{
    margin-top: 5px;
}
.text-yck
{
    color: #26bed6;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.14px
}
.div-yck
{
    padding: 9px 0px;
}
.cls-img
{
    margin-left: 4px;
}
::ng-deep{
  .cssdistrict .action-sheet-group.sc-ion-action-sheet-ios
  {
    overflow: scroll;
      overflow-y: auto;
      scroll-behavior: smooth;
  }
  .sc-ion-action-sheet-ios-h .cssdistrict { 
    margin-top: calc(env(safe-area-inset-top) + 50px);
    --height: 90%;
  }
  .sc-ion-action-sheet-md-h .cssdistrict {
    margin-top: calc(env(safe-area-inset-top) + 50px);
    --height: 90%;
  }
}
.mt15
{
  margin-top: 15px;
}
.text-title
{
    font-size: 10px;
    color: #bdbdbd;
    margin-left: 5px;
}

.text-select
{
  color: #26bed6;
}
.chkbox
{
  vertical-align: bottom;
}
.ion-item
{
  --padding-start: 0px;
  --inner-border-width: 0 0 0px 0;
  --min-height: 0px;
}

.mt25
{
  margin-top: 25px;
}
.mt29
{
  margin-top: 29px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.mt15px
{
  margin-top: -15px;
}
.text-login
{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.4px;
  color: #000000;
}
.text-note{
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.34px;
  color: #828282;
}
.div-auto
{
  margin-top: 20px;
  display: flex;
}
.div-content1 {
  margin-left: 20px;
  margin-right: 16px;
}
.label-input{
  font-size: 13px;
  font-weight: 300;
  color: #000000;
  margin-left: 5px;
}
.ion-checkbox{
  width: 16px;
  height: 16px;
  margin: -2px;
}

