<ion-header>
  <ion-toolbar style="min-height: 0px;text-align: center">
    <ion-row>
      <ion-col style="text-align: center;height: 48px;">
        <div style="align-self: center">
          <div style="position: absolute;height: 48px;width: 48px;top: 8px;" (click)="goback()">
            <!-- <ion-icon (click)="goback()" color="dark-tint" style="font-size: 2em;" name="arrow-back" class="card-title"></ion-icon> -->
            <img style="height: 48px; padding: 8px;margin-top: -9px;margin-left:-14px"
              src="./assets/imgs/ios-arrow-round-back.svg">
          </div>

          <div style="padding-top: 6px;font-size: 20px;font-weight: bold;"><label >Thông tin
              khách</label></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div style="text-align: center">
    <img src="./assets/step/food_step_1.svg">
  </div>

  <div *ngIf="!ischeckedit" class="div-1">
    <ion-row class="cls-ion-row">
      <ion-col class="cls-ion-col" size="9">
        <ion-label class="text">
          Thông tin liên lạc
        </ion-label>
      </ion-col>
    </ion-row>
    <div *ngIf="!ischeckedit&&!ischecklogin" class="div-background" style="margin-top: 10px;">
      <div class="div-content1">
        <ion-label class="text-login">
          Đã có tài khoản? <span class="text-select" (click)="goToLogin()">Đăng nhập ngay</span> 
        </ion-label>
      </div>
     
    </div>
    <ion-row >
      <ion-col size="12">
        <ion-item style="--padding-start: 0px">
          <ion-label class="label-name" position="floating">Họ Tên</ion-label>
          <ion-input class="label-input" [(ngModel)]="hoten" type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item style="--padding-start: 0px">
          <ion-label class="label-name" position="floating">Số điện thoại</ion-label>
          <ion-input class="label-input" [(ngModel)]="phone" maxlength=10 type="tel" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item style="--padding-start: 0px">
          <ion-label class="label-name" position="floating">Email</ion-label>
          <ion-input class="label-input" [(ngModel)]="_email" type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="mt34">
      <ion-label class="text">
        Địa chỉ giao hàng
      </ion-label>
    </div>
  
    <ion-radio-group>
      <label class="text-title">Tỉnh/Thành phố</label>
      <ion-row *ngIf="arrCity.length==1" style="margin-left: -5px;">
        <ion-col size="6" *ngFor="let item of arrCity">
          <ion-item class="ion-item">
            <ion-checkbox disabled  checked class="rd-departure">
            </ion-checkbox>
            <label class="text-select"
              class="rd-text">{{item.name}}</label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="arrCity.length>1" style="margin-left: -5px;">
        <ion-col size="6" *ngFor="let item of arrCity">
          <ion-item class="ion-item">
            <ion-radio  (click)="clickCity(item)" [checked]="Province==item.id?true:false" class="rd-departure">
            </ion-radio>
            <label [ngClass]="Province==item.id ? 'text-select': ''" style="margin-left: 5px"
              class="rd-text">{{item.name}}</label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>

    <ion-row (click)="presentActionSheetDistrict()">
      <ion-col size="12">
        <ion-item style="--padding-start: 0px">
          <ion-label class="cls-ion-label color-text"  [ngClass]="ischeckdist==1 ? 'color-text-select': ''">{{textdist}}</ion-label>
          <div slot="end">
            <img src="./assets/imgs/ic_down_b.svg">
          </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row (click)="presentActionSheetWard()">
      <ion-col size="12">
        <ion-item style="--padding-start: 0px">
          <ion-label class="cls-ion-label color-text"  [ngClass]="ischeckward==1 ? 'color-text-select': ''">{{textward}}</ion-label>
          <div slot="end" >
            <img src="./assets/imgs/ic_down_b.svg">
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item style="--padding-start: 0px">
          <ion-label class="label-name" position="floating">Số nhà, tên đường</ion-label>
          <ion-input class="label-input" [(ngModel)]="shipaddress" type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="mt29">
      <ion-label class="text">
        Khung giờ nhận hàng
      </ion-label>
    </div>
  
    <ion-radio-group *ngIf="isFood">
      <label class="text-title">Buổi trưa</label>
      <ion-row class="ml5">
        <ion-col size="6" >
          <ion-item class="ion-item">
            <ion-radio mode="md" (click)="clickTime('11h15 - 11h30',0)" [checked]="texttimeFood=='11h15 - 11h30'?'true':'false'" class="rd-departure">
            </ion-radio>
            <label  style="margin-left: 5px" class="rd-text">11h15 - 11h30</label>
          </ion-item>
        </ion-col>
        <ion-col size="6" >
          <ion-item class="ion-item">
            <ion-radio mode="md" (click)="clickTime('11h30 - 12h00',0)" [checked]="texttimeFood=='11h30 - 12h00'?'true':'false'" class="rd-departure">
            </ion-radio>
            <label  style="margin-left: 5px" class="rd-text">11h30 - 12h00</label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
  
    <ion-radio-group *ngIf="isDinner">
      <label class="text-title">Buổi tối</label>
      <ion-row class="ml5">
        <ion-col size="6" >
          <ion-item class="ion-item">
            <ion-radio mode="md" (click)="clickTime('16h00 - 16h30',1)" [checked]="texttimeDinner=='16h00 - 16h30'?'true':'false'" class="rd-departure">
            </ion-radio>
            <label  style="margin-left: 5px" class="rd-text">16h00 - 16h30</label>
          </ion-item>
        </ion-col>
        <ion-col size="6" >
          <ion-item class="ion-item">
            <ion-radio mode="md" (click)="clickTime('16h30 - 17h00',1)" [checked]="texttimeDinner=='16h30 - 17h00'?'true':'false'"  class="rd-departure">
            </ion-radio>
            <label  style="margin-left: 5px" class="rd-text">16h30 - 17h00</label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
  </div>
  
  <div *ngIf="ischeckedit" class="div-info">
    <div class="div-2">
      <div >
        <ion-label class="text-info"  >Thông tin giao hàng</ion-label>
      </div>
      <div class="div-change">
        <ion-label *ngIf="ischeckedit" class="text-change" (click)="change()" >Thay đổi</ion-label>
      </div>
    </div>
    <div>
      <ion-label class="text-contact">
        {{hoten}} - {{phone}}
      </ion-label>
    </div>
    <div>
      <ion-label class="text-info">
        {{cusaddress}}
      </ion-label>
    </div>
  </div>
  <div  class="div-auto">
    <div>
      <ion-checkbox class="chkbox"  [(ngModel)]="Repeat" color="secondary"></ion-checkbox>
    </div>
   <div  style="margin: 0px 10px">
    <div>
      <ion-label class="text-content" >Tự động đặt thực đơn này hàng tuần</ion-label>
    </div>
    <div >
      <ion-label class="text-note" >iVIVU sẽ email thông tin thanh toán vào thứ 4 hàng tuần cho Quý khách</ion-label>
    </div>
   </div>
 
  </div>
 
  <ion-row *ngIf="!ischeckedit"  style="margin-top: 20px">
    <ion-checkbox (ionChange)="(0)" [(ngModel)]="ischeck" color="secondary"></ion-checkbox>
    <ion-label class="label-input" style="margin: 3px 10px">Xuất hóa đơn điện tử</ion-label>
  </ion-row>
  
  <div *ngIf="ischeckedit==false">
    <div *ngIf="ischeck">
      <ion-row style="margin-left: -5px">
        <ion-col size="12">
          <ion-item style="--padding-start: 0px">
            <ion-label class="label-input-order" position="floating">Tên công ty</ion-label>
            <ion-input class="label-input" [(ngModel)]="companyname" type="text" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item style="--padding-start: 0px">
            <ion-label class="label-input-order" position="floating">Địa chỉ</ion-label>
            <ion-input class="label-input" [(ngModel)]="address" type="text" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item style="--padding-start: 0px">
            <ion-label class="label-input-order" position="floating">Mã số thuế</ion-label>
            <ion-input class="label-input" [(ngModel)]="tax" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div style="margin-left: 5px;margin-top: 10px">
        <ion-checkbox (ionChange)="showNameMail($event)" [checked]="ishideNameMail" class="ion-checkbox" color="secondary"></ion-checkbox>
        <ion-label class="label-input" >Dùng họ tên & email của người đặt dịch vụ để xuất hoá đơn</ion-label>
      </div>
      <div *ngIf="!ishideNameMail">
        <ion-col size="12">
          <ion-item style="--padding-start: 0px">
            <ion-label class="cls-label" position="floating">Họ tên</ion-label>
            <ion-input class="label-input" [(ngModel)]="hotenhddt" type="text" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item style="--padding-start: 0px">
            <ion-label class="cls-label" position="floating">Email nhận HĐ</ion-label>
            <ion-input class="label-input" [(ngModel)]="emailhddt" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </div>
    </div>
  </div>
  <div  *ngIf="!ischeckedit" class="div-background">
    <div class="div-content">
      <div class="mt5">
        <ion-label class="text-content">
          - Quý khách ngoài khu vực trên vui lòng để lại thông tin liên lạc, iVIVU sẽ cố gắng hỗ trợ Quý khách trong thời gian sớm nhất. <span (click)="changeplace()" class="text-yck"> Yêu cầu giao khu vực khác<img class="cls-img" src="./assets/imgs/vector.svg"></span>
        </ion-label>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer>
  <div [ngClass]="totalPrice>=3000000?'div-footer-flex':'div-footer'">
    <button *ngIf="totalPrice>=3000000" (click)="installment()" ion-button round outline class="button button-installment">Trả góp <br>
      <p class="text-sub">Chỉ từ {{installmentPriceStr}}</p>
    </button>
    <button (click)="next()" ion-button round outline class="button button2">Thanh toán ngay</button>
  </div>

</ion-footer>