<div class="div-useful-content" #divuseful>
  <div class="div-useful-title">
    <div class="title-padding">
      <ion-label class="text-title2">
      Thông tin hữu ích
      </ion-label>
    </div>

    <div class="sub-title">
      <ion-label class="text-subtitle">
        Có một hành trình hơn cả mong đợi
      </ion-label>
    </div>
  </div>
    

      <div class="item-useful">
        <div *ngFor="let itemuseful of listUseful">
            <div [ngClass]="itemuseful.clicked ? 'd-flex has-clicked' : 'd-flex' " *ngIf="!itemuseful.clicked else itemhasclicked" (click)="itemClick(itemuseful)">
                <span class="p-right-16">›  <span class="text-content">{{itemuseful.title}}</span></span>
            </div>
            <ng-template #itemhasclicked>
                <div (click)="itemClick(itemuseful)" id="{{itemuseful.id}}">
                    <div class="d-flex ">
                       <span class="p-right-4"><img src="./assets/ic_flight/ic_down_primary.svg"></span> <span class="text-content has-clicked">{{itemuseful.title}}</span>
                    </div>
                    <div class="div-useful-show">
                        <div [innerHTML]="itemuseful.contents"></div>
                    </div>
                </div>
              
            </ng-template>
        </div>
      </div>
    
</div>