.d-flex{
    display: flex;
}
.p-right-16{
    padding-right: 16px;
}
.p-right-4{
    padding-right: 4px;
}
.div-useful-content{
   
        .item-useful{
            border-radius: 4px;
            margin-top: 12px;
            //margin-bottom: 68px;

            .text-content{
                font-size: 16px;
                font-weight: 500;
                line-height: 1.4;
                color: #3f3b3b;
                width: 96%;
            }

            .div-background-useful {
                background: #fff;
                padding: 8px;
                margin-bottom: 8px;
                border-radius: 4px;
            }
            .icon-arr {
                display: flex;
                align-items: center;
                width: 4%;
                text-align: right;
            }
            .bg-white {
                background-color: #fff;
            }
        }
    
        .div-useful-show{
            border-radius: 4px;
            background-color: #fff;
            padding: 8px;
            margin-top: 11px;

            font-size: 16px;
            font-weight: 300;
            line-height: 2;
            color: #333333;
        }
    
    .title-padding{
        padding: 38px 0px 0px 0px;
        padding-right:16px !important;
      }
  
      .sub-title{
        font-size: 12px;
        font-weight: 300;
        letter-spacing: -0.34px;
        color: #333333;
      }

    .text-title2
    {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        color: #222222;
    }

    .has-clicked{
        font-weight: 500 !important;
        color: #003c71 !important;
    }

    
}


.div-useful-title.cls-topdeal-float .title-padding{
    padding-top: 0px !important;
  }