.d-flex{
    display: flex;
}
.p-right-16{
    padding-right: 16px;
}
.p-right-4{
    padding-right: 4px;
}
.f-18 {
    font-size: 18px !important;
}
.width-24 {
    width: 24px !important;
}
.div-useful-content{
    .cls-bg-detail {
        background-color: #f5f7fa !important;
    }
        .item-useful{
            border-radius: 4px;
            margin-top: 12px;
            //margin-bottom: 68px;

            .text-content{
                font-size: 16px;
                font-weight: 500;
                line-height: 1.4;
                color: #3f3b3b;
                width: 100%;
                margin-right: 8px;
            }

            .div-background-useful {
                background: #f2f2f2;
                margin-bottom: 8px;
            }
            .icon-arr {
                display: flex;
                align-items: center;
                width: 4%;
                text-align: right;
            }
            .bg-white {
                background-color: #fff;
            }
            .div-title {
                padding: 18px 16px;
                border-radius: 4px;
                background-color: #f5f7fa;
            }
            .div-image {
                margin-top: 26px;
                text-align: left;

                .img-qa {
                    max-width: 280px;
                    max-height: 192px;
                    object-fit: cover;
                }
            }
        }
    
        .div-useful-show{
            padding: 8px;
            margin-top: 11px;

            font-size: 16px;
            font-weight: 300;
            line-height: 2;
            color: #333333;
        }
        .div-useful-detail-show{
            padding: 8px;
            margin-top: 11px;

            font-size: 18px;
            font-weight: 300;
            line-height: 2;
            color: #333333;
        }
    
    .title-padding{
        padding: 16px 0px 0px 0px;
        padding-right:16px !important;
      }
  
      .sub-title{
        font-size: 12px;
        font-weight: 300;
        letter-spacing: -0.34px;
        color: #333333;
      }

    .text-title2
    {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        color: #222222;
    }

    .has-clicked{
        font-weight: 500 !important;
        color: #003c71 !important;
    }

    
}


.div-useful-title.cls-topdeal-float .title-padding{
    padding-top: 0px !important;
  }

  .div-showmore {
    height: 24px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-showmore {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #2f80ed;
        margin-right: 2px;
        text-decoration: underline;
    } 
    .icon-showmore {
        height: 24px;
    }
  }
