.d-flex{
    display: flex;
}
.div-header-title{
    padding-top: 11px !important;
}

.content-flightadddetails{
    padding: 16px;
    font-size: 16px;
    font-weight: 300;

    
    .div-img-step{
        text-align: center;
        margin-bottom: 16px;
    }

    .div-title{
        line-height: 22px;
        font-size: 18px;
        font-weight: 600;
    }

    .div-sub-title{
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
    }

    .div-left{
        width: 120px;
        margin-right: 16px;
        border-bottom: solid 0.2px #cdcdcd;
        position: relative;
    }
    .sub-label{
        font-size: 14px;
        font-weight: 300;
        color: #828282;
    }
    .f-12{
        font-size: 12px !important;
    }
    .label-absolute{
        position: absolute;
        top: 22px;
    }
    .label-country{
        position: absolute;
        top: 14px;

        z-index: 2;
        width: 90%;
    }
    .m-left-8{
        margin-left: 8px;
    } 
    .m-left-28{
        margin-left: 28px;
    } 
    .bottom-6{
        bottom: 6px !important;
    }
    .bottom-4{
        bottom: 4px !important;
    }
    .h-45{
        height: 45px;
    }
    .top-27{
        top: 27px !important;
    }
    .border-bottom{
        border-bottom: solid 0.2px #cdcdcd;
    }
    .label-passport {
        position: absolute;
        top: 9px;
    }
    .label-passportcountry{
        
        position: absolute;
        top: 24px;
    }
    .label-passportdate{
        position: absolute;
        top: 18px;
    }
    .cls-passport-transition{
        top: -12px;
        transition: top 0.1s ease-out;
    }
    .cls-country{
        top: 9px;
        z-index: -1;
    }
    .cls-country-transition{
        top: -11px;
        //transition: top 0.1s ease-out;
    }

    .cls-gender-transition{
        top: 0px;
        transition: top 0.1s ease-out;
    }

    .cls-selection-country{
        position: absolute;
        height: 180px;
        width: 100%;
        overflow-y: scroll;
        background: #fff;
        z-index: 99;
        margin-top: 36px;

        .item-country{
            font-size: 12px;
            height: 36px;
            border-bottom: none !important;
        }
    }
    .cls-input-country-custom{
        padding: 0;
        border-bottom: none;
        position: absolute;
        margin-top: -14px;
        background: transparent;
        z-index: -1;
        width: 90%;

        .searchbar-input.sc-ion-searchbar-ios{
            background: transparent;
            padding-inline-start: 0;
        }
    }
    .p-absolute{
        position: absolute;
    }
    .w-100{
        width: 100% !important;
    }

    .w-200{
        width: 200% !important;
    }
    .label-dob{
        position: absolute;
        top: -4px;
    }
    .div-right{
        width: 100%;
        position: relative;
    }

    .div-split{
        height: 8px;
        background-color: #f2f2f2;
        margin: 16px -16px;
    }

    .div-login{
        padding: 10px 16px;
        background: rgba(242, 242, 242, 0.5);
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.4px;
        margin: 0 -16px;
        margin-top: -16px;
        margin-bottom: 16px;


        .text-login{
            color: #26bed6;
        }
    }
    .img-vector{
        position: absolute;
        margin-left: 8px;
        margin-top: 6px;
    }
    .text-lotus-point{
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: -0.34px;
        color: #26bed6;
        margin-top: 8px;
        margin-bottom: -8px;
    }
    .text-lotus-code{
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: -0.34px;
        color: #828282;
        margin-top: 8px;
        margin-bottom: -8px;
    }
    .text-gender{
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.34px;
        margin-top: 27px;
    }
    .text-bold{
        font-weight: 600 !important;
    }
    .div-icon-down{
        position: absolute;
        right: 0;
        bottom: 3px;
    }

    .cls-datetofbirth{
        padding: 0;
        line-height: 28px;
        font-size: 16px;
        //margin-top: 4px;
        margin-top: 27px;
        border-bottom: solid 0.2px #cdcdcd;
        // padding-top: 16px;
        // margin-top: -16px;
    }
    .p-relative{
        position: relative;
    }
    .top-dob-24{
        top: -24px !important;
    }
    .m-top-16{
        margin-top: 16px !important;
    }

    .cls-iondatetime{
        padding: 0;
        line-height: 28px;
        font-size: 16px;
        margin-top: 4px;
        border-bottom: solid 0.2px #cdcdcd;
        padding-top: 16px;margin-top: -16px;
    }

    .text-sub{
        font-size: 12px;
        text-align: left;
        color: #828282;
    }
}
.cls-error{
    color: #e52822 !important;
    font-size: 14px;

    // ion-label, .text-gender {
    //     color: #e52822 !important;
    // }

    ion-input{
        color: #e52822 !important;
    }

    ion-datetime{
        color: #e52822 !important;
    }

    ion-searchbar{
        color: #e52822 !important;
    }
    ion-item {
        --border-color: #e52822 !important;
    }
    
    .cls-input-custom{
        border-bottom: 0.2px solid #e52822;
    }

    .cls-iondatetime, .cls-datetofbirth, .border-bottom{
        border-bottom: 0.2px solid #e52822 !important;
    }
}
.border-bottom.cls-error{
    border-bottom: 0.2px solid #e52822 !important;
}
.div-left.cls-error{
    border-bottom: 0.2px solid #e52822 !important;
}

.div-showerror{
    .div-icon-error{
        position: absolute;
    }
    .div-text-error{
        padding-top: 2px;
    }
}
.cls-input-custom{
    margin-top: 21px;
    border-bottom: 0.2px solid rgb(205, 205, 205);
}
.no-border{
    border-bottom: none !important;
}
.div-border-bottom{
    border-bottom: solid 0.2px #cdcdcd;
}
.cls-passportcountry{
    width: 190% !important;
}
.f-13{
    font-size: 13px !important;
}
.div-vat{
    margin-top: 20px;
}
.m-top-10{
    margin-top: 6px;
}
.div-width-100{
    width: 100%;
}
.div-width-300{
    width: 300%;
}
.text-right{
    text-align: right;
    color: #26bed6;
    font-weight: 300;
}

.div-footer{
    background-color: #ffffff; 
    text-align: center;
    height: 60px;

    .div-total{
        width: 210px;
        margin-left: 16px;

        .text-sub-total{
            font-size: 12px;
            font-weight: 300;
            margin-top: 8px;
            margin-bottom: 4px;
            display: flex;
        }

        .text-total{
            font-size: 24px;
            font-weight: 600;
            letter-spacing: -0.69px;
            color: #26bed6;
            text-align: left;
        }
    }

    .div-button{
        width: 50%;
        margin-right: 16px;
    }
    
    .button
    {
        background: #F79221;
        color: #ffffff;
        border-color: #F79221;
        font-size: 22px;
        height: 40px !important;
        margin: 10px 0;
        font-size: 17px !important;
        width: 100%;
        border-radius: 4px !important;
    } 
}

.d-flex-footer{
    //display: flex;
    width: 100%;
    height: auto;

    .div-pax-hint{
        padding: 16px 16px 0 16px;
        width: 100%;
        height: 128px;
        overflow: scroll;

        border-bottom: solid 2px #f2f2f2;
       // margin: 16px -16px;
        .icon-pax{
            margin-right: 12px;
        }

        .text-pax-hint{
            font-size: 14px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: -0.4px;
            color: #222222;
        }
    }
}

::ng-deep{
    .cls-input-custom .native-input.sc-ion-input-ios{
        padding: 0;
        line-height: 28px;
        font-size: 14px;
    }

    .text-bold .sc-ion-action-sheet-md{
        font-weight: 600 !important;
    }

    .action-sheets-flightselectgender .action-sheet-title.sc-ion-action-sheet-md{
        font-weight: bold;
        color: #000;
    }
    // .sc-ion-action-sheet-md-h.action-sheets-flightselectgender{
    //     margin-bottom: env(safe-area-inset-bottom);
    // }

    .loading-wrapper.sc-ion-loading-ios{
        -webkit-padding-start: 20px;
        padding-inline-start: 20px;
        -webkit-padding-end: 20px;
        padding-inline-end: 20px;
    }

    .cls-input-country-custom .searchbar-input.sc-ion-searchbar-ios{
        background: transparent;
        padding-inline-start: 0 !important;
        padding-inline-end: 0 !important;

        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cls-input-country-custom.cls-passportcountry .searchbar-input.sc-ion-searchbar-ios{
        max-width: 95%;
    }

    .item-country ion-item{
        border-bottom: none;
        --inner-border-width: 0 0 0px 0;
    }


    .sc-ion-action-sheet-md-h.sc-ion-action-sheet-md-s.md.action-sheets-flightselectgender {
        position: absolute;
      }
}

.div-close-paxhint{
    right: -6px;
    position: absolute;
    z-index: 14;
    top: -0;
    width: 48px;
    height: 48px;
    padding: 12px;
    text-align: center;
  }

  .p-top-6{
    padding-top: 6px;
}
.div-line{
    height: 1px;
    background-color: #e9eaec;
    margin: 12px 0;
}
.div-checkin-online-1 {
    align-items: center;
    .div-text-checkin-online{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #3f3b3b;
    }
    .cls-toggle{
        position: absolute;
        right: 16px;
    }
    
}
.text-note{
    font-size:14px;
    color:#828282;
    font-style: italic;
    letter-spacing: -0.34px;
    margin-top: 10px;
  }