<ion-header class="div-tourdeparturecalendar-header">
    <ion-toolbar>
      <ion-buttons slot="secondary" style="position: absolute;" (click)="goback()">
        <img class="img-back" src="./assets/imgs/ios-arrow-round-back.svg" >
      </ion-buttons>
  
      <ion-title class="text-title">
          Lịch khởi hành và giá
        </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="div-tourdeparturecalendar-content">
    <div class="p-all-16">
        <div class="text-center"><img src="./assets/step/tour_step_1.svg"></div>
        <div [ngClass]="tourService.departuresItemList && tourService.departuresItemList.length > 0 ? 'm-top-32' : 'm-top-32 cls-no-departure' ">
            <div class="div-item-departure-date d-flex">
                <div class="width-60">
                    Chọn ngày khởi hành:
                </div>
                <div class="width-50 d-flex" (click)="openPickupCalendar()">
                    <div class="v-align-center m-r-8"><img src="./assets/ic_tour/ic_calendar.svg"></div>
                    <div class="text-normal align-right v-align-center f-20" *ngIf="itemDepartureCalendar && itemDepartureCalendar.AllotmentDateDisplay">{{itemDepartureCalendar.AllotmentDateDisplay}}</div>
                </div>
            </div>

            <div class="div-item-departure-date d-flex">
              <div class="width-30">
                  Người lớn
              </div>
              <div class="text-price width-42" >
               <span *ngIf="tourService.itemDepartureCalendar && tourService.itemDepartureCalendar.PriceAdultAvgStr">x {{tourService.itemDepartureCalendar.PriceAdultAvgStr}}</span>
              </div>
              <div class="width-40 d-flex div-item-pax">
                  <div class="div-item-left f-32" (click)="removePax(1)">-</div>
                  <div class="div-item-center">{{searchhotel.adult}}</div>
                  <div class="div-item-right f-32" (click)="addPax(1)">+</div>
              </div>
            </div>

            <div class="div-item-departure-date d-flex">
              <div class="width-30">
                  Trẻ em
              </div>
              <div class="text-price width-42">
                <span *ngIf="tourService.itemDepartureCalendar && tourService.itemDepartureCalendar.PriceChildAvgStr">x {{tourService.itemDepartureCalendar.PriceChildAvgStr}}</span>
                <span *ngIf="tourService.itemDepartureCalendar && !tourService.itemDepartureCalendar.PriceChildAvgStr">x 0</span>
              </div>
              <div class="width-40 d-flex div-item-pax">
                  <div class="div-item-left f-32" (click)="removePax(2)">-</div>
                  <div class="div-item-center">{{searchhotel.child}}</div>
                  <div class="div-item-right f-32" (click)="addPax(2)">+</div>
              </div>
            </div>
            <div class="p-top-20">
              <label class="text-child-age" *ngIf="searchhotel.arrchild && searchhotel.arrchild.length >0">
                  Tuổi trẻ em
                </label>
                <div *ngFor="let msg of searchhotel.arrchild; let idx = index" class="p-top-20">
                  <div (click)="selectAge(msg.text)"  class="div-age no-border-bottom">
                    <ion-label class="text-child">{{msg.text}}</ion-label>
                    <div class="div-text-age">
                      <ion-label class="selected-age p-right-8" *ngIf="msg.numage">{{msg.numage}}</ion-label>
                      <ion-label class="selected-age p-right-8" *ngIf="msg.numage ==0">{{infant}}</ion-label>
                      <img class="img-down" src="./assets/imgs/ic_down.svg"></div>
                  </div>
            
                </div>
            
            </div>
            <div *ngIf="hasDeparture">
              <!-- <div class="div-split-panel" ></div> -->
              <div class="d-flex div-total m-top-26">
                <div class="width-40 text-normal m-top-8">Tổng cộng</div>
                <div class="width-60 text-tealish text-right"><span class="text-total" *ngIf="totalPriceStr">{{totalPriceStr}}</span><span>đ</span></div>
              </div>

              <div class="d-flex m-top-12 div-last" *ngIf="tourService.hasAllotment">
                <div class="v-align-center m-r-4"><img src="./assets/ic_tour/check-icon.svg"></div>
                <div class="v-align-center text-normal text-tealish">Tour đang nhận khách. Giữ chỗ ngay</div>
              </div>
              <div class="d-flex m-top-12 div-last" *ngIf="!tourService.hasAllotment">
                <div class="v-align-center m-r-4"><img src="./assets/ic_tour/info.svg"></div>
                <div class="v-align-center text-normal text-tealish">Liên hệ để xác nhận chỗ</div>
              </div>
            </div>
            <div *ngIf="!hasDeparture">
              <div class="div-split-panel" ></div>
              <div class="d-flex m-top-12 div-last" *ngIf="!tourService.hasAllotment">
                <div class="v-align-center m-r-4"><img src="./assets/ic_tour/non.svg"></div>
                <div class="v-align-center text-normal text-tealish">Chưa có lịch khởi hành</div>
              </div>
            </div>
           
           
           
        </div>
    </div>
  </ion-content>
  <ion-footer class="bg-white">
    <div class="div-tourdeparturecalendar-footer d-flex">
      <div class="width-50 m-r-8" (click)="requestQuote()">
        <button ion-button round outline [ngClass]="tourService.departuresItemList && tourService.departuresItemList.length > 0 ? 'button btn-advise' : 'button btn-advise cls-no-departure' " >
          Liên hệ tư vấn
        </button>
      </div>
      <div [ngClass]="hasDeparture ? 'width-50' : 'width-50 cls-no-departure' " *ngIf="hasAllotment" (click)="book()">
          <button ion-button round outline class="button btn-book">
              Đặt ngay
          </button>
      </div>
      <div [ngClass]="hasDeparture ? 'width-50' : 'width-50 cls-no-departure' " *ngIf="!hasAllotment " (click)="requestBook()">
        <button ion-button round outline [ngClass]="tourService.departuresItemList && tourService.departuresItemList.length > 0 ? 'button btn-book' : 'button btn-book cls-no-departure'">
            Yêu cầu đặt
        </button>
    </div>
  </div>
  </ion-footer>