.foodcombo-review-header{
  
    .img-goback{
        height: 48px; 
        padding: 8px;
    }
    .text-title
    {
        font-weight: 600;
        font-size: 20px;
        padding: 0;
        text-align: center  ;
    }
    .btn-header{
        width: 48px;color: #4f4f4f;background-color: #fff;-webkit-box-shadow: none;box-shadow: none;
        height: 48px;
      }
      .img-cart{
        width: 20px;
      }
}

.div-wraper-foodcomboreview{
    padding: 16px;

}

.div-footer{
    background-color: #ffffff; 
    text-align: center; 
    display: flex;

    .div-button-flex{
        display: flex;
        width: 100%;
      }

      .button2
    {
        background: #ff9500;
        color: #ffffff;
        border-color: #ff9500;
        width: 100%;
        font-size: 17px !important;
        letter-spacing: -0.4px;
    } 
    .button-cart
    {
        background: #ffffff;
        color: #ff9500;
        border: solid 1px #ff9500;
        width: 90%;
        font-size: 17px !important;
        letter-spacing: -0.4px;
    } 
}