.my-voucher-header {

    .header-text{
        text-align: center;
        align-self: center;
      }
      .header-icon{
        width: 48px;
        height: 48px;
        text-align: center;
        padding: 0px;
        margin-left: -6px;
      }
      .text-title
      {
        font-weight: bold;
        font-size: 20px;
        padding: 0;
        text-align: center;
        width: 100%;
      }
}

    .voucher-detail-content {
        background-color: #f2f2f2;
        height: 100%;

        .d-flex {
            display: flex;
        }

        .div-item {
            padding: 16px 8px 16px 8px;
            border-radius: 6px;
            box-shadow: 0 0 8px 0 rgb(0 0 0 / 15%);
            background-color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .div-button {
                padding: 6px 16px;
                border-radius: 6px;
                background-color: #26bed6;
                text-align: center;

                font-size: 16px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #fff;
            }

            .div-title {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #3f3b3b;

            }
            .div-valid-date {
                margin-top: 4px;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #6d6e71;
            }

            
        }
        .text-content {
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.6;
            letter-spacing: normal;
            text-align: left;
            color: #3f3b3b;
        }
    }