  <div class="homeflight-footer">
        <div class="div-menu-footer">
          <div class="div-button-menu" (click)="menuFlightClick(1)">
            <ion-icon [ngClass]="menuindex ==1 ? 'icon-flight-menu activated' : 'icon-flight-menu'" name="home"></ion-icon>
            <div [ngClass]="menuindex ==1 ? 'text-menu activated' : 'text-menu'">Trang chủ</div>
          </div>
          <div class="div-button-menu" (click)="menuFlightClick(2)">
              <ion-icon [ngClass]="menuindex ==2 ? 'icon-flight-menu activated' : 'icon-flight-menu'" name="paper-plane"></ion-icon>
              <div [ngClass]="menuindex ==2 ? 'text-menu activated' : 'text-menu'">Chuyến đi</div>
          </div>
          <div class="div-button-menu" (click)="menuFlightClick(3)">
              <ion-icon [ngClass]="menuindex ==3 ? 'icon-flight-menu activated' : 'icon-flight-menu'" name="text"></ion-icon>
              <div [ngClass]="menuindex ==3 ? 'text-menu activated' : 'text-menu'">Thông báo</div>
              <ion-badge class="cls-badge" *ngIf="valueGlobal.countNotifi" color="danger">{{valueGlobal.countNotifi}}</ion-badge>
          </div>
          <div class="div-button-menu" (click)="menuFlightClick(4)">
              <ion-icon [ngClass]="menuindex ==4 ? 'icon-flight-menu activated' : 'icon-flight-menu'" name="contact"></ion-icon>
              <div [ngClass]="menuindex ==4 ? 'text-menu activated' : 'text-menu'">Tài khoản</div>
          </div>
        </div>
      </div>
    