.header-title{
  padding: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
    .toolbar-title-md {
        text-align: center;
        margin-right: 70px;
      }  
      .text-trip-empty{
        text-align: center;
        font-size: 18px;
        line-height: 1.3;
        color: #38383d;
    }
    .img-inbox-empty{
      text-align: center;
    }

  .cls-icon{
    background-color: #003c71;
    border-radius: 20px;
    width: 24px;
    height: 24px;
    text-align: center;
  }
  .cls-row-content{
    padding: 0px 16px 16px 16px;
  }
  .inbox-content-empty{
    padding: 16px;
  }
.cls-border-bottom{
  padding: 12px 0px;
  margin: 0 16px;
  border-bottom: solid 1px rgba(201, 201, 201, 0.5);
}
.inbox-title{
  font-size: 14px;
  font-weight: bold;
  white-space: normal;
}

.inbox-message{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.4px;
}

.inbox-date{
  font-size: 12px;
  letter-spacing: -0.34px;
  color: #828282;
}

.item-unread{
  background-color: rgba(0, 60, 113, 0.1);
}

.inbox-content:first-child{
  padding-top: 4px;
}
.readed-text{
  white-space: normal;
}

ng-deep{
  .hidden-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 310px;
  }

  .readed-text{
    white-space: normal;
  }
}
.div-scroll{
  overflow-x: scroll;
  margin-left: 16px;
  margin-top: 16px;
  overflow-y: hidden;
  margin-bottom: 24px;
}
.btn-typeMessenger-action{
  border-radius: 30px;
  background-color: #26bed6;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  width: 104px;
  height: 36px;
  text-align: center;
  padding: 0px;
}
.div-flex{
  display: flex;
  width: 101%;
}
.btn-typeMessenger{
  border-radius: 30px;
  background-color: #ecf0f5;
  font-size: 16px;
  font-weight: 500;
  color: #3f3b3b;
  width: 104px;
  height: 36px;
  text-align: center;
  padding: 0px;
}
.margin-left-0{
  margin-left: 0px !important;
}
.mess-card{
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 16px;
}
.unmess-card{
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 16px;
  opacity: 0.5;
}
.noti-text{
  font-size: 14px;
  color: #38383d;
  margin-left: 4px;
}
.noti-text-time{
  font-size: 12px;
  color: #868998;
  position: absolute;
  right: 32px;
}
.div-detail{
  height: 154px;
  padding: 10px 16px 12px;
}
.noti-img{
  width: 16p;
  height: 16px;
}
.cls-border{
  height: 2px;
  background-color: #ecf0f5;
  margin-top: 4px;
  margin-bottom: 8px;
}
.noti-text-title{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #3f3b3b;
}
.noti-text-content{
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.3;
  color: #38383d;
}
.img-empty{
  padding-bottom: 24px;
}
.btn-Product{
  position: absolute;
  right: 16px;
}

.div-33{
  width: 33%;
}
