.foodfilter-header{
    .toolbar-foodfilter{
      height: 56px;
      text-align: center
    }
    .title-foodfilter{
      font-weight: bold;
      padding-top: 8px;
    }
    .img-close{
      max-width: 150%;
    }
    .cls-button{
      position: absolute;right: -4px;top: 0;
      .btn-close{
        background: #ffffff;
      }
    }
  }

  .div-foodfilter-content{
      padding: 16px;
   
      .p-top-8{
          padding-top: 8px;
      }
      .p-top-24{
        padding-top: 24px;
      }
      .p-top-4{
        padding-top: 4px;
      }
      .title-text{
          font-size: 16px;
          letter-spacing: -0.28px;
          line-height: 24px;
          font-weight: 600;
      }

      .div-phongvi,
      .div-chedo,
      .div-ngansach {
          position: relative;
      }

      .div-filter{
        height: 100%;
        margin-right: -16px;
        overflow-x: auto;
        display: flex;
        min-height: 54px;
        width: 100%;
        top: 0;
      
        .div-filter-item{
            margin-left: 8px;
            align-self: center;

            .label-filter{
                white-space: nowrap;
                border: solid 0.5px #828282;
                padding: 14px 12px;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.5;
                letter-spacing: -0.14px;
                color: #828282;
                border-radius: 4px;
            }
        }
        .div-filter-item:first-child{
            margin-left: 0px !important;
        }
        .div-filter-item:last-child{
            margin-right: 0px !important;
        }
        
      }
      .selected{
        background: #26bed6 !important;
        border: solid 0.5px #26bed6 !important;
        color: #fff !important;
    }
  }

  .div-foodfilter-footer{
    background-color: #ffffff; text-align: center; display: flex;
    .div-button-flex{
        display: flex;
        width: 100%;
      }
      .button-filter
      {
          background: #ff9500;
          color: #ffffff;
          border-color: #ff9500;
          width: 100%;
          font-size: 17px !important;
          letter-spacing: -0.4px;
          margin-right: 8px;
      } 
      .button-clear
      {
          background: #ffffff;
          color: #ff9500;
          border: solid 1px #ff9500;
          width: 90%;
          font-size: 17px !important;
          letter-spacing: -0.4px;
          margin: 16px 8px;
      } 
  }