<ion-header class="foodfilter-header">
  <ion-toolbar class="toolbar-foodfilter">
    <ion-title class="title-foodfilter">Bộ lọc</ion-title>
    <ion-buttons start class="cls-button">
      <button slot="primary" routerDirection="root" class="btn-close" (click)="closeModal()">
        <img class="header-img-close" src="./assets/imgs/ios-arrow-round-back.svg" >
      </button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-foodfilter-content">
    
      <div class="div-phongvi p-top-8">
        <div class="title-text">Phong vị</div>
        <div class="div-filter p-top-4">
          <div class="div-filter-item " (click)="itemFilterClick(1)">
            <ion-label class="label-filter labelvibac">Vị Bắc</ion-label>
          </div>
            <div class="div-filter-item" (click)="itemFilterClick(2)">
              <ion-label class="label-filter labelvitrung">Vị Trung</ion-label>
            </div>
              <div class="div-filter-item" (click)="itemFilterClick(3)">
                <ion-label class="label-filter labelvinam" >Vị Nam</ion-label>
              </div>
              <!-- <div class="div-filter-item"  (click)="itemFilterClick(4)">
                  <ion-label class="label-filter labelvi3mien">Vị 3 miền</ion-label>
                </div> -->
        </div>
      </div>

      <div class="div-chedo p-top-24">
          <div class="title-text">Chế độ</div>
        <div class="div-filter p-top-4">
                <div class="div-filter-item"  (click)="itemFilterClick(5)">
                    <ion-label class="label-filter labelthanhdam">Thanh đạm</ion-label>
                  </div>
                  <div class="div-filter-item" (click)="itemFilterClick(6)">
                      <ion-label class="label-filter labeldamda">Đậm đà</ion-label>
                    </div>
        </div>
      </div>
      <div class="div-ngansach p-top-24">
          <div class="title-text">Ngân sách</div>
        <div class="div-filter p-top-4">
                      <div class="div-filter-item" (click)="itemFilterClick(7)">
                          <ion-label class="label-filter label199">225.000 đ</ion-label>
                        </div>
                        <div class="div-filter-item" (click)="itemFilterClick(8)">
                            <ion-label class="label-filter label299">325.000 đ</ion-label>
                          </div>
                          <div class="div-filter-item" (click)="itemFilterClick(9)">
                              <ion-label class="label-filter label399">425.000 đ</ion-label>
                            </div>
        </div>
      </div>
  </div>
</ion-content>
<ion-footer>
  <div class="div-foodfilter-footer">
    <div class="div-button-flex">
      <button  (click)="clearFilter()" ion-button round outline class="button button-clear">Xóa</button>
      <button (click)="filter()" ion-button round outline class="button button-filter">Xem <span *ngIf="countFilter >0">({{countFilter}}) bữa trưa</span></button>
    </div>
  </div>
</ion-footer>