<ion-tabs>

  <ion-tab-bar class="tabbar" slot="bottom">
    <ion-tab-button class="tab-button" tab="tab1">
      <ion-icon class="icon-tab" name="home"></ion-icon>
      <ion-label>Trang chủ</ion-label>
    </ion-tab-button>
    <div class="div-split"></div>
    <ion-tab-button class="tab-button" tab="tab2">
      <ion-icon class="icon-tab" name="heart"></ion-icon>
      <ion-label>Yêu thích</ion-label>
    </ion-tab-button>
    <div class="div-split"></div>
    <ion-tab-button class="tab-button" tab="tab3">
      <ion-icon class="icon-tab" name="paper-plane"></ion-icon>
      <ion-label>Đơn hàng</ion-label>
    </ion-tab-button>
    <div class="div-split"></div>
    <ion-tab-button class="tab-button" tab="tab4">
      <ion-icon class="icon-tab" name="text"></ion-icon>
      <ion-label>Thông báo</ion-label>
      <ion-badge *ngIf="valueGlobal.countNotifi" color="danger">{{valueGlobal.countNotifi}}</ion-badge>
    </ion-tab-button>
    <div class="div-split"></div>
    <ion-tab-button class="tab-button" tab="tab5">
      <ion-icon class="icon-tab" name="contact"></ion-icon>
      <ion-label>Tài khoản</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <!-- <app-foodmenufooter></app-foodmenufooter> -->
  <app-flightmenufooter></app-flightmenufooter>
</ion-tabs>