@import "../hoteldetail/hoteldetail.scss";

.hotel-city-item-detail-content{
    .p-0{
        padding:0px;
    }
    .p-top-10{
        padding-top: 10px;
    }
    .m-top-1{
        margin-top: 1px;
    }
    
    .p-16{
        padding: 0 16px;
        padding-bottom: 32px;
    }

    .img-slide-hoteldetail{
        width: 100%;
        object-fit: cover;
        min-height: 207px;
    }
    .preview{
        height: auto;
        width: 100%
    }

    .div-img-caption-grad{
        bottom: 14px;
    }
    .div-img-caption{
        bottom: 13px;
    }

    .div-go-back{
        z-index: 100;
        position: absolute;
          top: calc(env(safe-area-inset-top) - 0px);
          left: 10px;
          color: #ffffff;
          width: 48px;
          height: 48px;
    }
      .img-absolute{
        position: absolute;
    }
    .img-back{
        height: 48px;
        padding: 8px;
        //margin-top: calc(env(safe-area-inset-top) - 0px);
        margin-left: -8px;
        z-index: 11;
        position: absolute;
    }
    .div-img-background{
        background-color: #222222;
        opacity: 0.5;
        position: absolute;
        border-radius: 24px;
    }
    .div-goback-background{
        margin-left: -8px;
        height: 28px;
        width: 28px;
        top: 10px;
        left: 10px;
    }
    .img-heart{
        position: absolute;
        top: calc(env(safe-area-inset-top) - 14px);
        z-index: 11;
        font-size: 20px;
        width: 48px;
        height: 48px;
        margin-top: calc(env(safe-area-inset-top) - 14px);
        right: 48px;
        text-align: center;

        .image-heart{
            padding-top:15px;
            width: 18px;
            position: absolute;
            right: 16px;
        }
    }
    .img-heart{
        position: absolute;
        top: calc(env(safe-area-inset-top) - 14px);
        z-index: 11;
        font-size: 20px;
        width: 48px;
        height: 48px;
        margin-top: calc(env(safe-area-inset-top) - 14px);
        right: 48px;
        text-align: center;

        .image-heart{
            padding-top:15px;
            width: 18px;
            position: absolute;
            right: 16px;
        }
    }

    .img-share{
        position: absolute;
        top: calc(env(safe-area-inset-top) - 14px);
        color: #ffffff;
        z-index: 11;
        width: 48px;
        height: 48px;
        margin-top: calc(env(safe-area-inset-top) - 14px);
        right: 0px;
        text-align: center;

        .image-share{
            padding-top: 13px;
            width: 18px;
            z-index: 10;
            position: absolute;
            right: 17px;
        }
    }  

    .div-share-background{
        height: 28px;
        width: 28px;
        top: 25px;
        right: 25px;
    }
    .div-heart-background{
        height: 28px;
        width: 28px;
        top: 25px;
        right: 25px;
    }

    .btn-review{
        color: var(--ion-color-primary);
        font-size: 14px;
        float: right;
        padding-right: 20px;
        background: none;
        padding-top: 4px;
    }

    .ico-arrow{
        right: -6px;
        position: absolute;
        top: -1px;
        font-size: 24px;
    }

    .btn-seemore{
        margin-right: -15px;
        margin-top: 0;
    }

    .row-border-cin{
        margin-top: 0px;
        padding: 0;
    }

    .div-address{

        .text-address{
            color: #4f4f4f;
            font-size: 14px;
            font-weight: 300;
        }
    }

    .d-list-item{
        display: list-item;
    }

    .p-relative{
        position: relative;
    }

    div::marker{
        color: var(--ion-color-primary);
    }
    
    .div-facility, .div-info, .div-policy, .div-hotel-review{
        margin-top: 38px;

        .text-fac-title{
            font-size: 18px;
            font-weight: bold;
            line-height: 1.52;
            text-align: left;
            color: var(--ion-color-tertiary);
            margin-bottom: 20px;
        }
        
        .div-list-fc, .text-des, .text-time{
            font-size: 14px;
            line-height: 1.4;
            text-align: left;
            color: #333333;
        }

        .text-des{
            line-height: 1.5;
        }
        .div-list-fc{
            line-height: 2.2;
            padding-left: 16px;
        }

        .text-cin-cout{
            margin: 7px 0px 4px 0;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.4;
            text-align: left;
            color: #333333;
        }

    }

    .div-split{
        height: 0.4px;
        flex-grow: 0;
        margin: 7px 0px 8px 0px;
        background-color: #bdbdbd;
    }

    .div-seedetail{
        display: flex;
        justify-content: center;

        
        .btn-seemoreview{
            margin: 16px 26px 0 18px;
            padding: 11px 23px;
            border-radius: 5px;
            border: solid 1px var(--ion-color-tertiary);
            color: var(--ion-color-tertiary);
        }
    }

    .div-hotel-review{
        .div-review{
            margin-top: 0;
            .cls-text-review{
                margin: 3px 0 2px 4px;
                font-size: 13px;
                font-weight: bold;
                text-align: left;
                color: var(--ion-color-primary);
            }
    
            .text-date-reviews{
                margin: 3px 0 1px 7px;
                font-family: HelveticaLight;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.4;
                letter-spacing: normal;
                text-align: left;
                color: #bdbdbd;
            }
        }
    
        .cls-textreview-feature{
            margin: 8px 0 0;
            font-size: 14px;
            font-weight: 300;
            font-stretch: normal;
            font-style: oblique;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
        }
    
        
        .cls-ionbadge{
            width: 85px;
            height: 42px;
            border-radius: 4px;
            font-size: 20px;
            font-weight: normal;
            letter-spacing: -0.51px;
            align-self: center;
            background: #9fc43a;
            padding: 9px 14px 10px 15px;
        }

       

        .div-review-owner{
            padding: 2px 0px 4px 0;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.4;
            text-align: left;
            color: #333333;

            display: flex;
            flex-direction: row;
        }

        .cls-ionbadgerw{
            padding: 3px 6px 2px 6px;
            border-radius: 2px;
            background-color: #9fc43a;
            font-size: 13px;
            font-weight: normal;
            width: 29px;
            height: 20px;
        }
        .ico-person{
            margin-right: 4px;
            margin-top: 2px;
            width: 16px;
            height: 16px;
        }

        .div-split{
            margin: 16px 0 12px 0;
        }

        

        .num-review{
            color: var(--ion-color-primary);
            margin-top: 2px;
            margin-left: 6px;
        }
        .cls-divback {
            position: absolute;
            top: 0px;
            left: 3px;
            width: 80px;
            height: 80px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 0px;
        }
        .img1, .img2{
            border-radius: 0;
            width: 80px;
            height: 80px; 
            margin-left: 3px;
        }
        .innerreview1{
            margin-left: 0;
        }

        .text-seemore{
            position: absolute;
            top: 22px;
            left: 3px;
            width: 76px;
            height: 40px;
            font-family: Helvetica;
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.52;
            letter-spacing: normal;
            color: #ffffff;
            text-align: center;
        }
    }

    .cls-seemorefac{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.26;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-tertiary);
        margin-top: 16px;
        margin-left: -16px;
    }
    .img-seemoreroom{
        margin-left: 36px;
    }
    .div-recent-review{
        margin-top: 15px;
    }
   
    .text-recent-review{
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        color: #333333;
     
    }

    .v-align-center{
        display: flex;
        align-items: center;
    }
    

}