<ion-header no-border >
  <ion-toolbar style="min-height: 0px;text-align: center">
    <ion-row>
      <ion-col style="text-align: center;height: 48px;">
        <div style="align-self: center">
          <div style="position: absolute;height: 48px;width: 48px;top: 8px;" (click)="goback()">
            <img style="height: 48px; padding: 8px;margin-top: -9px;margin-left:-14px"
              src="./assets/imgs/ios-arrow-round-back.svg">
          </div>
          <div style="padding-top: 6px;font-size: 20px;font-weight: bold;"><label class="text-title">Giỏ hàng</label>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div *ngIf="listItems && listItems.length >0">
      <div *ngFor="let item of listItems; let idx = index">
          <div class="row-item-hotellist" >
             <!-- left image region-->
          <div class="col-img-hotellist">
              <img class="img-radius" [src]="item.image164" style="position:relative">
            </div>
            <!-- right content region -->
            <div class="col-description-hotellist">
              <div>
                <div class="div-foodname">
                  <div class=" d-flex">
                      <div class="text-food" *ngIf="item && item.focategory">{{item.focategory.name}}</div>
                      <div class="div-star">
                        <img *ngIf="item && item.focategory && item.focategory.typePriceId == 1" src="../../assets/star/ic_star_1.svg">
                        <img *ngIf="item && item.focategory && item.focategory.typePriceId == 2" src="../../assets/star/ic_star_2.svg">
                        <img *ngIf="item && item.focategory && item.focategory.typePriceId == 3" src="../../assets/star/ic_star_3.svg">
                      </div>
                  </div>
                  <p class="text-note" *ngIf="item.extraDisplay else weekdisplayonly">{{item.weekdisplay}} · {{item.extraDisplay}}</p>
                  <ng-template #weekdisplayonly>
                    <p class="text-note">{{item.weekdisplay}}</p>
                  </ng-template>
                </div>
              </div>
              <!-- price -->
              <div *ngIf="item && item.focategory">
                <ion-label class="text-price">
                  <span class="text-d">{{item.totalPriceItemDisplay}} đ</span>
                </ion-label>
              </div>
              <!-- plus or minus -->
              <div class="div-position">
                <div class="d-flex">
                  <div class="div-minus" (click)="minusItem(item)">
                    <img src="./assets/minus.svg">
                  </div>
                  <div class="div-top-bottom" *ngIf="item && item.quantity">
                    <ion-label>{{item.quantity}}</ion-label>
                  </div>
                  <div class="div-plus" (click)="plusItem(item)">
                    <img src="./assets/plus.svg">
                  </div>
                </div>
                <p class="text-delete" (click)="deleteItem(idx)">
                  Xóa
                </p>
              </div>
            </div>
          </div>
          <div>
              <p class="h-line"></p>
          </div>
        </div>
       
      <div class="div-background">
        <div class="div-content">
          <div>
            <ion-label class="text-content">
             - Giao hàng miễn phí từ bữa trưa (11h - 12h) hàng ngày tại các khu vực:
              <!-- - Giao hàng miễn phí khu vực quận 1, 3, Phú Nhuận, Tân Bình, Bình Thạnh. -->
              <!-- Hiện tại iVIVU chỉ giao tại <span class="cls-district">Quận 1, Quận 3, Quận 10, Phú Nhuận, Tân Bình, Bình Thạnh</span> -->
            </ion-label>
            <div class="div-dist" *ngFor="let item of District">
              <ion-label class="text-content" >
                <span class="namecity">+ {{item.namecity}}</span>: {{item.namedist}}
              </ion-label>
            </div>
          </div>
          <div class="mt5">
            <ion-label class="text-content">
              - Quý khách ngoài khu vực trên vui lòng để lại thông tin liên lạc, iVIVU sẽ cố gắng hỗ trợ Quý khách trong thời gian sớm nhất. <span (click)="changeplace()" class="text-yck"> Yêu cầu giao khu vực khác<img class="cls-img" src="./assets/imgs/vector.svg"></span>
            </ion-label>
          </div>
         
        </div>
      </div>
  </div>
  <div *ngIf="listItems && listItems.length ==0">
      <div class="text-empty">
        <div><img src="../../assets/ic_food/cart.svg"></div>
        <div class="m-16">Bạn chưa có sản phẩm nào trong giỏ hàng. Nhanh tay chọn ngay thực đơn hấp dẫn bên dưới</div>
        <div><button class="button button2" (click)="goToHomeFood()">Xem thêm thực đơn</button></div>
      </div>
  
      <div class="div-split"></div>
      <div class="text-title m-bottom-16">Bữa trưa được yêu thích</div>
      <div class="div-wrap-slide">
          <div class="div-slide-item" *ngFor="let item of listItemsFood; let idx = index">
                <app-fooditemlike [item]="item"></app-fooditemlike>
          </div>
      </div>

      <!-- <div class="div-split"></div>
      <div class="text-title m-bottom-16">Bữa tối được yêu thích</div>
      <div class="div-wrap-slide slide-dinner">
          <div class="div-slide-item" *ngFor="let item of listItemsDinnerFood; let idx = index">
            <app-fooddinneritemlike [item]="item"></app-fooddinneritemlike>
          </div>
      </div> -->
    </div> 
</ion-content>
<ion-footer class="cls-ion-footer" no-border *ngIf="listItems && listItems.length >0">
  <div class="div-total">
    <div >
      <ion-label class="cls-text-total">
        Thành tiền:
      </ion-label>
    </div>
    <div class="div-total-2"> 
        <ion-label class="text-total">
          <span class="text-total-d"></span>{{totalPriceDisplay}}<span class="text-sub-total"> đ/tuần</span>
        </ion-label>
  
    </div>
  </div>
  <div style="background-color: #ffffff; text-align: center">
    <button (click)="next()"  ion-button round outline class="button button2">Tiến hành đặt hàng</button>
  </div>
</ion-footer>

