
    .p-l-8{
        padding-left: 8px;
    }
    .p-left-8{
        padding-left: 8px;
    }
    .d-flex{
        display: flex;
        .div-star{
            padding-left: 8px;
            display: table-cell;
            align-self: center;
        }
    }

        .div-img{
            width: 100%;
            height: 202px;
            position: relative;
        }
        .img-item {
            height: 202px !important;
            width: 100% !important;
            object-fit: cover;
            border-radius: 4px 4px 0 0;
        }
        img-loader > img {
            height: 202px;
            width: 100%;
            object-fit: cover;
            border-radius: 4px 4px 0 0;
            position: absolute;
        }
        .no-img-background{
            background: #bdbdbd;
        }
        .float-promo{
            position: absolute;
            top: 24px;
            left: -6px;
            background-color: #e52822;
            color: #fff;
            font-size: 12px;
            max-width: 95%;
            height: 22px;
            padding: 3px 12px 0px 13px;
            z-index: 11;
          }
        .float-promo:after {
            content: " ";
            position: absolute;
            left: 0px;
            top: 22px;
            border-top: 6px solid #851f1c;
            border-left: 6px solid transparent;
            border-bottom: none;
          }
        .text-catname{
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            margin: 8px 0;
        }

        .div-point{
            position: relative;
            padding-bottom: 8px;
            .d-flex{
                display: flex;

                .text-recommend{
                    padding-left: 8px;
                    font-size: 12px;
                    color: #333333;
                    line-height: 20px;
                    letter-spacing: -0.24px;
                }
            }
            .div-badge{
                width: 32px;
                height: 17px;
                border-radius: 6px;
                background-color: #a0c245;
                color: #fff;
                text-align: center;
                padding-top: 1px;
                font-size: 14px;
                font-weight: 600;
            }

            .div-text-point{
                padding-left: 8px;
            }

            .text-point{
                font-size: 12px;
                color: #333333;
                line-height: 20px;
                letter-spacing: -0.24px;
            }
            .p-bottom-12{
                padding-bottom: 12px;
            }
            .description{
                font-size: 14px;
                line-height: 21px;
                color: #000000;
                letter-spacing: -0.4px;
                padding-bottom: 8px;
                text-align: left;
            }

            .div-chef{
                display: flex;

                .chef-avatar{
                    .img-chef{
                        width: 48px;
                        height: 48px;
                        object-fit: fill;
                        border-radius: 48px;
                    }
                }
                .chef-desc{
                    display: flex;
                    flex-direction: column;
                    padding-left: 8px;

                    .chef-name{
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: -0.24px;
                    }
                    .chef-office{
                        font-size: 12px;
                        color: #828282;
                        line-height: 21px;
                        letter-spacing: -0.34px;
                        font-weight: 300;
                    }
                    .text-restanrant-name{
                        font-size: 12px;
                        color: #828282;
                        line-height: 14px;
                        letter-spacing: -0.24px;
                        font-weight: 600;
                    }
                }
                
            }

            .div-price{
                display: flex;
                width: 100%;

                .hot-deal{
                    width: 100%;
                    font-size: 12px;
                    letter-spacing: -0.24px;
                    line-height: 20px;
                    color: #e52822;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
                .text-price{
                    display: flex;
                    flex-direction: column;

                    width: 100%;
                    text-align: right;
                    font-size: 32px;
                    letter-spacing: -0.92px;
                    color: #26bed6;
                    font-weight: 600;
                    padding-right: 8px;

                    .s-text{
                        font-size: 18px;
                        letter-spacing: -0.36px;
                        color: #26bed6;
                    }
                    .text-sub-price{
                        font-size: 13px;
                        line-height: 18px;
                        color: #4f4f4f;
                        text-align: right;
                        margin-bottom: -6px;
                        font-weight: 300;
                    }
                }
            }
        }
    
        

  