<div class="div-statusbar-float">
</div>
<ion-header class="homefood-header cls-disabled">
  <ion-toolbar style="--border-width: 0;">
      <ion-title class="text-title">
        Bữa trưa
      </ion-title>

      <ion-buttons slot="primary" class="btn-header r-60" (click)="showFilter()" *ngIf="allowShowCart">
          <button ion-button icon-only class="btn-header">
              <img  src="./assets/imgs/ic_filter_b.svg" >
              <ion-badge *ngIf="enableCountFilter" class="cls-badge-filter">{{enableCountFilter}}</ion-badge>
            </button>
      </ion-buttons>
      <ion-buttons slot="primary" class="btn-header r-4" (click)="showCart()" *ngIf="allowShowCart">
          <button ion-button icon-only class="btn-header">
              <img class="img-cart" src="./assets/ic_food/supermarket.svg">
              <ion-badge *ngIf="countcart >0" color="danger" class="cls-badge-cart-header">{{countcart}}</ion-badge>
            </button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <section id="preload" style="display: none;"></section>
</ion-app>