  <div class="homefood-footer">
        <div class="div-menu-footer">
          <div class="div-button-menu" (click)="menuFooterClick(1)">
           
            <ion-icon [ngClass]="menuindex ==1 ? 'icon-food-menu activated' : 'icon-food-menu'" name="home"></ion-icon>
            <div [ngClass]="menuindex ==1 ? 'text-menu activated' : 'text-menu'">Trang chủ</div>
          </div>
          <div class="div-button-menu" (click)="menuFooterClick(2)">
              <div class="icon-menu">
                <img *ngIf="menuindex == 2 else menu2LostFocus" src="../../assets/ic_food/icon_food_tealish.svg">
                <ng-template #menu2LostFocus><img src="../../assets/ic_food/icon_food_gray.svg"></ng-template>
              </div>
              <div [ngClass]="menuindex ==2 ? 'text-menu activated' : 'text-menu'">Đơn hàng</div>
          </div>
          <div class="div-button-menu" (click)="menuFooterClick(3)">
              <ion-icon [ngClass]="menuindex ==3 ? 'icon-food-menu activated' : 'icon-food-menu'" name="text"></ion-icon>
              <div [ngClass]="menuindex ==3 ? 'text-menu activated' : 'text-menu'">Thông báo</div>
              <ion-badge *ngIf="countcart" color="danger">{{countcart}}</ion-badge>
          </div>
          <div class="div-button-menu" (click)="menuFooterClick(4)">
              <ion-icon [ngClass]="menuindex ==4 ? 'icon-food-menu activated' : 'icon-food-menu'" name="contact"></ion-icon>
              <div [ngClass]="menuindex ==4 ? 'text-menu activated' : 'text-menu'">Tài khoản</div>
          </div>
        </div>
      </div>