<ion-content>
    <div class="border-bottom" style="margin-top: calc(env(safe-area-inset-top) + 16px)">
        <ion-row>
          <ion-col style="text-align: center;height: 48px;">
            <div style="align-self: center">
              <div style="position: absolute;height: 48px;width: 48px;align-self: center;" (click)="goback()">
                <img style="height: auto; padding: 14px;margin-left:-14px" src="./assets/imgs/ic_arrow_w.svg">
              </div>
            </div>
          </ion-col>
          <ion-col size="11">
            <div style="text-align: left" *ngIf="cusnamereview">
              <ion-label style="font-size:12px;color: whitesmoke">
                {{cusnamereview}}
              </ion-label>
            </div>
            <div style="text-align: left" *ngIf="datereview">
              <ion-label style="font-size:12px;color: whitesmoke">
                {{datereview}}
              </ion-label>
            </div>
            <div *ngIf="!searchhotel.openFromTopReviewList">
              <div *ngIf="!cusnamereview && !datereview && !tourName" class="div-hotel-name">{{hotelName}}</div>
              <div *ngIf="!cusnamereview && !datereview && tourName" class="div-tour-name">{{tourName}}</div>
            </div>
            <div *ngIf="searchhotel.openFromTopReviewList">
              <div *ngIf="!cusnamereview && !datereview" class="div-tour-name">{{reviewName}}</div>
            </div>

          </ion-col>
        </ion-row>
      </div>
          
  <div class="center">
    <ion-slides (ionSlideTransitionStart)="ionSlideTransitionStart()" (ionSlideDidChange)="ionSlideDidChange()" #mySlider >
     
      <ion-slide *ngFor="let slide of arrimgreview; let idx = index">
          
        <img *ngIf="slide.ImageUrl" style="height: 350px;width: 100%;object-fit: cover" [src]="slide.ImageUrl" />
        <img *ngIf="slide.imageUrl" style="height: 350px;width: 100%;object-fit: cover" [src]="slide.imageUrl" />
      </ion-slide>
    </ion-slides>
  </div>
  <div style="width: 100%;height: 350px;margin: 0 auto;background-color: #fff;" *ngIf="!ischeckslide">
    <ion-skeleton-text animated style="width: 100%;height: 350px;margin: 0 auto" ></ion-skeleton-text>
  </div>
      
  <div *ngIf="captionImg" class="div-captionImg">{{captionImg}}</div>
  <div *ngIf="ischeckslide" class="slide div-align-center" style="text-align: center">
    <img  (click)="backslide()"  src="./assets/imgs/back.svg">
      <ion-label style="color: whitesmoke;padding: 40px;font-size: 22px">
        {{countslide+1}}/{{lengthslide}}
      </ion-label> 
    <img  (click)="nextslide()" src="./assets/imgs/next.svg">
  </div>
</ion-content>