.btn-close{
    position: absolute;
    right: 0px;
    top: -36px;
    width: 48px;
    height: 48px;
    background-color: #fff;
    font-size: 2em;
    color: #828282;
    padding: 0px;
}
.text-title
{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.13px;
    color: #222222;
}
.label-name{
    font-size: 12px;
    font-weight: 300;
    color: #828282;
}
.label-input{
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}
.div-text
{
    margin-left: -5px;
    margin-top: -10px;
}
.button2
{
    background: #ff9500;
    color: #ffffff;
    border-color: #ff9500;
    width: 90%;
    font-size: 17px !important;
    letter-spacing: -0.4px;
} 
.color-text
{

  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.14px;
  color: #000000;
  line-height: 21px

}
.color-text-select
{
  color: #000000;
}
.cls-ion-label
{
  width: 100%;
}
