.text-title{
    font-size: 18px;
    font-weight: bold
}
.textv{
    font-size: 14px;
    color: #333333
}
.text-normal {
    font-size: 16px;
    text-align: left;
    color: #828282;
}
.btn-save-phone{
    border-color: #f79221;
    color: #ffffff;
    background: #f79221;
    width: 98%;
    height: 48px;
    text-transform: none;
    font-size: 18px !important;
    border-radius: 4px !important;
}
.cls-invalid {
    background: #828282 !important;
    opacity: 0.5;
}
.cls-inputmail {
    --padding-top: 0;
    --padding-bottom: 0;
}