    <div class="foodmyorder-content">
      <div *ngIf="hasloaddata else loadsk" class="m-16">
        <div>
          <div *ngIf=" (listFoodOrders && listFoodOrders.length>0 && !nodata && memberid) else noorder">
            <div *ngIf="!showOnlyOne else showfoodorderdetail">
              <div  class="order-item" *ngFor="let order of listFoodOrders; let idx = index">
                <div *ngIf='!order.isActive'>
                  <div class=" d-flex p-top-16 p-bottom-8">
                    <div class="text-bkgcode">{{ order.bookingCode }}</div>
  
                    <div class="text-status" *ngIf="!order.isOver else orderdone">
                      <div *ngIf="order.status == 1 "><label class="label-text-request">Yêu cầu đặt</label></div>
                      <div *ngIf="order.status == 2 "><label class="label-text-waitpayment">Chờ thanh toán</label></div>
                      <div *ngIf="order.status == 3 "><label class="label-text-paymented">Đã thanh toán</label></div>
                      <div *ngIf="order.status == 4 "><label class="label-text-waitpayment">Hủy</label></div>
                    </div>
                    <ng-template #orderdone><div class="text-status"><label class=" label-text-done">Hoàn tất</label></div></ng-template>
  
                  </div>
  
                  <div *ngFor="let detail of order.listDetailHistory; let idx = index" class="div-item-detail">
                    <div class="div-history">
                        <div class="text-quantity ">
                          <div class="p-top-8">
                            <div class="text-menu-title d-flex" *ngIf="detail" (click)="showOrderDetail(order, detail)">
                              <div class="div-image-food">
                                <img class="img-food-avatar" src="https://cdn1.ivivu.com/iVivu/2018/02/07/15/noimage-104x110.png" *ngIf="!detail.image">
                                <img class="img-food-avatar" [src]="detail.image" *ngIf="detail.image">
                              </div>
                              <div class="div-food-name">
                                  <div class="text-food-name">
                                      {{detail.name}}
                                      <img *ngIf="detail && detail.typePriceId == 1" src="../../assets/star/ic_star_1.svg">
                                      <img *ngIf="detail && detail.typePriceId == 2" src="../../assets/star/ic_star_2.svg">
                                      <img *ngIf="detail && detail.typePriceId == 3" src="../../assets/star/ic_star_3.svg">
                                  </div>
                                  <div class="text-food-week">
                                    {{detail.quantity}} phần | {{ detail.weekname }}
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-review" (click)="showFoodReview(detail, order)" *ngIf="order.statusOrderDetail != 1 && order.status != 4 && order.allowReview">Đánh giá</div>
                </div>
                
                  
                <div class="div-line" *ngIf='order.status != 4'></div>
                </div>
                
              </div>
            </div>
                
            <ng-template #showfoodorderdetail>
              <div class="div-foodmyorderdetail-content" *ngFor="let order of listFoodOrders; let idx = index">
                <div *ngIf="!order.isActive">
                  <div class=" d-flex">
                    <div class="text-bkg"><ion-label class="label-bkg">Mã đặt:</ion-label></div>
                    <div class="text-bkgcode">{{ order.bookingCode }}</div>
                    <div class="text-status">
                      <div *ngIf="order.status == 2 else other" class="text-right">Chờ thanh toán</div>
                      <ng-template #other>
                            <div *ngIf="order.status == 4 else paymented" class="text-right">Hủy</div>
                            <ng-template #paymented>
                                  <div class="text-right" *ngIf="order.status == 3 else request">Đã thanh toán</div>
                                  <ng-template request><div class="text-right">Yêu cầu đặt</div></ng-template>
                                </ng-template>
                        </ng-template>
                    </div>
                </div>
                <div class="div-line-bottom"></div>
          
                <div *ngIf="!order.isOver else orderdone" [ngClass]="detail.isDinner ? 'p-bottom-16' : ''">
                    <div class="text-menu">{{order.nameDisplay}}</div>
                    <div class="text-menu-title" *ngIf="detail.isDinner">{{detail.weekDisplay}}</div>
                    <div class="text-menu-name" *ngIf="detail.isDinner">{{detail.extraDisplay}}</div>
          
                    <div class="div-order-statusbar">
                        <img src="../../assets/ic_food/status_1.svg" *ngIf="order.statusOrderDetail == 1">
                        <img src="../../assets/ic_food/status_2.svg" *ngIf="order.statusOrderDetail == 2">
                        <img src="../../assets/ic_food/status_3.svg" *ngIf="order.statusOrderDetail == 3">
                        <img src="../../assets/ic_food/status_4.svg" *ngIf="order.statusOrderDetail == 4">
                    </div>
            
                    <div class="div-list-item">
                        <div class="text-title" *ngIf="order.statusOrderDetail != 1 else nextweektitle">
                          <div *ngIf="!detail.isDinner else dinner">Hôm nay ăn gì?</div>
                          <ng-template #dinner>Hôm nay có gì?</ng-template>
                        </div>
                        <ng-template #nextweektitle> 
                          <div class="text-title" *ngIf="!detail.isDinner else dinner">Thứ 2 tuần sau ăn gì?</div>
                          <ng-template #dinner><div class="text-title">Thứ 2 tuần sau có gì?</div></ng-template>
                        </ng-template>
            
                        <!-- <div *ngFor="let detail of bookingDetails; let idx = index" [ngClass]="idx == 0 ? 'div-relative' : 'p-top-24 div-relative'"> -->
                          <div class="div-relative">
                          <!-- <div class="div-left"> -->
                            <div *ngFor="let mn of detail.menu.listmenu" class="item-menu">
                              {{ mn.name }} <span class="text-quantity" *ngIf="mn.quantity >0">{{mn.quantity}} {{mn.unit}}</span>
                            </div>
                                  
                            <div class="div-right" *ngIf="detail.isDinner">
                              <div class="div-image">
                                <img class="img-cook" [src]="detail.menu.avatarRecommend" *ngIf="detail.menu.avatarRecommend else tempimage">
                                <ng-template #tempimage>
                                  <img class="img-cook" [src]="detail.menu.avata" backgroundSize="cover">
                                </ng-template>
                              </div>
                              <div class="div-howtocook" (click)="showBlog(detail.menu)">
                                <div class="text-howtocook">Xem cách nấu<span class="img-span"><img src="./assets/imgs/vector.svg"></span></div>
                              </div>
                            </div> 
                                
                        
                                    <div class="text-menu-name d-flex" *ngIf="!detail.isDinner">
                                        <div>{{detail.quantity}} x {{detail.name}}</div>
                                        <div class="div-star">
                                          <img *ngIf="detail && detail.typePriceId == 1" src="../../assets/star/ic_star_1.svg">
                                          <img *ngIf="detail && detail.typePriceId == 2" src="../../assets/star/ic_star_2.svg">
                                          <img *ngIf="detail && detail.typePriceId == 3" src="../../assets/star/ic_star_3.svg">
                                        </div>
                                    </div>
                                    <div class="text-menu-name" *ngIf="!detail.isDinner">{{detail.extraDisplay}}</div>
            
                                    <div class="text-review" (click)="showFoodReview(detail, order)" *ngIf="order.statusOrderDetail != 1">Đánh giá</div>
                        </div>
            
                        
                    </div>
                      </div>
                      <ng-template #orderdone>
                          <div *ngFor="let detail of bookingDetails">
                                  <div class="text-menu-title d-flex">
                                      <div class="div-100">{{detail.quantity}} x {{detail.name}}</div>
                                      <div class="div-star">
                                        <img *ngIf="detail && detail.typePriceId == 1" src="../../assets/star/ic_star_1.svg">
                                        <img *ngIf="detail && detail.typePriceId == 2" src="../../assets/star/ic_star_2.svg">
                                        <img *ngIf="detail && detail.typePriceId == 3" src="../../assets/star/ic_star_3.svg">
                                      </div>
                                      <div class="div-price">{{detail.totalPriceDisplay}}</div>
                                  </div>
                                  <div class="text-menu-name">{{detail.extraDisplay}}</div>
                                  <div class="d-flex" *ngIf="order.statusOrderDetail != 1">
                                      <div class="text-review" (click)="showFoodReview(detail, order)">Đánh giá</div>
                                  </div>
                                  
                      </div>
                    
                      </ng-template>
                      <div class="div-line-bottom" [ngClass]="detail.menu.listmenu.length <4 ? 'p-top-32' : ''"></div>
                      <div class="div-total">
                        <div class="label-total">Thành tiền</div>
                        <div class="text-price-total">{{detail.totalPriceDisplay}} đ</div>
                      </div>
                      
                
                      <div class="div-split">
                      </div>
                      <div class="d-flex" *ngIf="hoten">
                        <div><img class="img-contact" src="../../assets/imgs/ic_people.svg"></div>
                        <div><ion-label class="text-contact">
                            {{hoten}} - {{phone}}
                          </ion-label></div>
                        
                      </div>
                      <div class="d-flex" *ngIf="cusaddress">
                        <div><img class="img-contact" src="../../assets/ic_facility/Group.svg"></div>
                        <div><ion-label class="text-contact">
                            {{cusaddress}}
                          </ion-label></div>
                      </div>
                  </div>
                </div>
                
            </ng-template>
            </div>
            <ng-template #noorder>
              <div class="text-center">
                <div class="img-empty"><img  src="../../assets/ic_food/fried.svg"></div>
                <div class="text-empty">Bạn chưa có đơn hàng nào với iVIVU</div>
                <div><button class="button button-main" (click)="gotomenu(1)">Xem thêm thực đơn</button></div>
              </div>
            </ng-template>
        </div>
        
        </div>
        <ng-template #loadsk>
            <div *ngFor="let item of itemsks" class="m-top-16">
                <div class=" d-flex">
                    <ion-skeleton-text animated class="text-menu" style="height: 16px"></ion-skeleton-text>
                    <ion-skeleton-text animated class="text-status" style="height: 16px;width: 40%;margin-left: 5%;"></ion-skeleton-text>
              </div>
              <div class="text-quantity p-top-6">
                   
                    <div class="text-menu-title d-flex">
                        <ion-skeleton-text class="div-100" animated  style="height: 16px"></ion-skeleton-text>
                        <ion-skeleton-text class="div-star" animated  style="height: 16px;width: 5%;margin-left: 8px;"></ion-skeleton-text>
                        <ion-skeleton-text class="div-price" animated  style="height: 16px;width: 45%;margin-left: 5%;"></ion-skeleton-text>
                    </div>
                    <ion-skeleton-text class="text-menu-name" animated  style="height: 16px;width: 20%;"></ion-skeleton-text>
              </div>
              <div class="div-line"></div>
            </div>
          </ng-template>
      </div>
