
<ion-header class="flightpage-header homefoodheader" >
  <ion-row>
    <ion-col class="col-header">
      <div class="d-flex">
        <div class="div-goback" (click)="goback()">
            <img class="header-img-back" src="./assets/imgs/ios-arrow-round-back.svg" >
        </div>
        <div class="div-header-title">
          
            <div class="div-slide-food">
              <div class="swiper-food">
                Bữa trưa
              </div>
             
            </div>
        </div>
       
      </div>
    </ion-col>
  </ion-row>
  
</ion-header>
<ion-content>
  <div class="p-all-16 m-top-8 div-homefood-content div-home cls-tab-visible">
    <div class="img-farewell">
      <img class="img-farewell" src="./assets/ic_food/Foodfarewell.jpg">
    </div>
    
    <div class="text-content m-top-24">
      <span class="text-tealish">iVIVU Food</span> xin gửi lời cảm ơn chân thành và sâu sắc nhất đến Quý khách hàng đã tin tưởng lựa chọn và sử dụng dịch vụ <span class="text-orange">bữa trưa thảnh thơi</span> trong suốt thời gian vừa qua. 
      
     
    </div>
    <div class="text-content m-top-24"> <span class="text-tealish">iVIVU Food </span> xin thông báo <span class="text-orange">tạm ngưng dịch vụ bữa trưa thảnh thơi</span> từ ngày 6/6/2022 để tập trung nguồn lực vào dịch vụ du lịch.
      </div>
      <div class="text-content m-top-24">Một lần nữa, <span class="text-tealish">iVIVU Food </span> xin gửi lời cảm ơn chân thành đến Quý khách hàng. Chúc Quý khách có nhiều sức khỏe, may mắn và thành công!</div>
   
  </div>
</ion-content>
<ion-footer>
  <div class="div-button" (click)="goback()">
    <button class="button round outline btn-back">Quay về trang chủ</button>
  </div>
</ion-footer>
