.div-header-title{
    z-index: 1 !important;
}
.div-icon-cart{
    position: absolute;
    right: 0;
    top: 4px;
    padding: 16px;
    z-index: 9;
  }
  .v-align-center{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .div-goback{
      z-index: 2 !important;
  }
.homefood-header{
    height: 48px;
    position: fixed;
    padding-top: calc(env(safe-area-inset-top) + 20px);

    
    .img-goback{
        height: 48px; 
        padding: 8px;
    }
    .text-title
    {
        font-weight: 600;
        font-size: 20px;
        padding: 0;
        text-align: center  ;
    }
    .btn-header{
        width: 48px;color: #4f4f4f;background-color: #fff;-webkit-box-shadow: none;box-shadow: none;
        height: 40px;
      }
      .img-cart{
        width: 20px;
      }
      .btn-header{
          position: absolute;
      }
      .r-60{
          right: 60px;
      }
      .r-4{
          right: 4px;
      }

      
}
.p-top-40{
    padding-top: 40px;
}
.p-top-24{
    padding-top: 24px;
}
.m-bottom-16{
    margin-bottom: 16px;
}
.cls-visible{
    visibility: visible;
    transition: visibility 2s, opacity 0.5s linear;
    opacity: 1;
   
  }
  .cls-disabled{
    visibility: hidden;
    height: 0px;
    opacity: 0;
    transition: visibility 2s, opacity 0.5s linear;
    z-index: 0;
  }
  .cls-tab-visible{
    visibility: visible;
    transition: visibility 2s, opacity 0.5s linear;
    opacity: 1;
   
  }
  .cls-tab-disabled{
    visibility: hidden;
    height: 0px;
    opacity: 0;
    transition: visibility 2s, opacity 0.5s linear;
    z-index: 0;
    display: none;
  }
  .cls-badge-cart{
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    z-index: 999;
    position: absolute;
    // top: 29px;
    // right: 9px;
    top: 6px;
    right: 6px;
    padding: 1px;
}
.cls-badge-cart-header{
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    z-index: 999;
    position: absolute;
    top: 0;
    right: 4px;
    padding: 1px;
}
.div-background{
    color: #fff;
    height: calc( env(safe-area-inset-top) + 380px);
    z-index: 9;

    .img-background{
        width: 100% !important;
        height: calc( env(safe-area-inset-top) + 380px) !important;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        background-position-x: -20px;
    }
    .img-background-dinner{
        width: 105% !important;
        height: calc( env(safe-area-inset-top) + 380px) !important;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        background-position-x: -20px;
        background-position-y: -170px;
    }
    .img-logo{
        width: 76px;
        margin-top: calc(env(safe-area-inset-top) + 22px);
        z-index: 11;
        position: relative;
    }
    .main-title{
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
    }
    .main-food-title{
        margin-top: 154px;
        font-size: 35px;
        font-weight: bold;
        line-height: 40px;
        text-align: center;
    }
    .sub-title{
        margin-top: 10px;
        font-size: 16px;
        line-height: 22.5px;
        text-align: center;
    }

    .text-center{
        text-align: center;
        position: relative;

        .img-cart{
            position: absolute;
            margin-top: 21px;
            right: 0;
            padding: 16px;
            z-index: 11;
        }
    }
    .cls-mark{
        position: absolute;
        top: 0;
        width: 100%;
        height: 430px;
        background: rgba(0,0,0, 0.5);
        z-index: -1;
    }
    .d-flex{
        display: flex;
    }
    .desc-section{
        margin-top: 130px;
        margin-bottom: 4px;

        

        .desc-row{
            display: flex;
            margin-top: 16px;

            .desc-icon{
                width: 32px;
                height: 24px;

                .img-desc{
                    width: 24px;
                    height: 24px;
                }
            }
            .desc-text{
                padding-top: 4px;
            }
        }
    }
    .text-title{
        font-size: 28px;
        line-height: 27px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
    }
}
.div-wrap-filter{
    height: 48px;
    position: relative;
    margin-bottom: 16px;
    margin-right: 0;
    margin-right: -16px;

    .div-filter{
        height: 100%;
        margin-right: -16px;
        overflow-x: auto;
        margin-bottom: 16px;
        display: flex;
        min-height: 50px;
        width: 100%;
        position: absolute;
        top: 0;
      
        .m-l-20{
            margin-left: 20px !important;
        }

        .div-filter-item{
            margin-left: 8px;
            align-self: center;
            position: relative;

            .label-filter{
                white-space: nowrap;
                background: #26bed6;
                padding: 10px 12px;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.5;
                letter-spacing: -0.14px;
                color: #ffffff;
                border-radius: 30px;
                border: solid 0.5px #26bed6;

            }
            .min-width-90{
                min-width: 90px;
            }
            .min-width-100{
                min-width: 100px;
            }
            .min-width-112{
                min-width: 112px;
            }
            .min-width-115{
                min-width: 115px;
            }
            .min-width-125{
                min-width: 125px;
            }
            .min-width-150{
                min-width: 150px;
            }

            .img-down{
                padding-left: 10px;
            }
            .div-close{
                position: absolute;
                height: 36px;
                top: 2px;
                right: 2px;
                padding: 10px;
            }
        }
        .div-filter-item:first-child{
            margin-left: 0px !important;
        }
        .div-filter-item:last-child{
            margin-right: 0px !important;
        }
        
      }
}
.selected{
    background: #26bed6 !important;
    color: #fff !important;
}
.d-flex{
    display: flex;
}
.p-top-3{
    padding-top: 3px;
}
.text-week-menu, .text-timeexpired{
    font-size: 14px;
    color: #ffffff;
    line-height: 24px;
    justify-content: center;
    letter-spacing: -0.48px;
    font-weight: normal;
    text-align: center;

    .text-arrow{
        padding: 0 10px;

        .img-arrow{
            width: 14px;
            padding-top: 2px;
        }
    }
}

.text-filter{
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-weight: 600;
    margin-bottom: 8px;
}

.div-installment{
    background-color: #f2f2f2;
    margin-bottom: 80px;

    .installment-content{
        background: #eaf0e7;
        border-left: solid 3px #ff9500;

        .text-installment{
            padding: 7px 0px 6px 12px;
            color: #003c71;
            letter-spacing: -0.6px;
            font-size: 14px;
            line-height: 21px;
        }
        .text-installment-detail{
            padding: 0px 24px 6px 12px;
            color: #003c71;
        }
        .installment-detail{
            color: #26bed6;
            padding: 16px 4px;
        }
        .text-price{
            color: #26bed6;
            font-size: 24px;
            font-weight: 600;
        }
        .text-price-sub{
            color: #26bed6;
        }
        .text-see-detail{
            padding-left: 8px;
            letter-spacing: -0.6px;
            font-size: 14px;
            line-height: 21px;
        }
    }
}
.m-left-17{
    margin-left: 10px;
}
.div-content-diner{
    padding-top: 20px;
}
.div-content{
    padding: 16px; 
    padding-top: 0;
    .div-wraper-combo.leftoffset-6{
        margin-left: -6px;
    }
    .text-right{
        text-align: right;
        padding-right: 0 !important;
        color: #828282 !important;
    }
    .text-left{
        text-align: left;
        padding-right: 0 !important;
        color: #828282 !important;
    }
    .div-week-period{
        display: flex;
        margin-top: 20px;
        margin-bottom: 16px;
        padding: 8px 16px 7px 16px;
        height: 42px;
        border-radius: 4px;
        background-color: rgba(242,242,242, 0.4);

        .div-split-week{
            background: #ffffff;
            width: 4px;
            margin: -8px 8px -8px 0px;
        }
        .div-current-week, .div-next-week{
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: -0.14px;
            color: #828282;
            width: 25%;

            .text-week-title{
                color: #26bed6;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: -0.14px;
                padding-right: 10px;
                padding-top: 5px;
            }
            .text-week-title-date{
                font-size: 18px;
                font-weight: 600;
                line-height: 1.5 !important;
                letter-spacing: -0.51px !important;
                color: #26bed6 !important;
            }
        }
        .active-week{
            width: 75% !important;
        }
        .text-arrow{
            padding: 0 10px;
    
            .img-arrow{
                width: 14px;
                padding-top: 2px;
            }
        }

    }

      .div-wraper-combo{
          .list-menu{
            padding-bottom: 80px;

            .title-text{
                height: 27px;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.5;
                color: #222222;
                text-align: left;
            }
            .sub-title-text{
                height: 15px;
                font-size: 12px;
                font-weight: 300;
                letter-spacing: -0.34px;
                color: #333333;
                text-align: left;
            }
          }
          
        .p-l-8{
            padding-left: 8px;
            min-height: 153px;
        }
        .d-flex{
            display: flex;
            .div-star{
                padding-left: 8px;
                display: table-cell;
                align-self: center;
            }
        }
        .width-98{
            width: 98% !important;
        }
        .div-item-combo{
            position: relative;
            margin: 0;
            margin-bottom: 24px;
            border-radius: 4px;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
            width: 100%;

            .div-img{
                width: 100%;
                height: 202px;
                position: relative;
            }
            .img-item{
                height: 202px;
                width: 100%;
                object-fit: cover;
                border-radius: 4px 4px 0 0;
                position: absolute;
            }
            .float-promo{
                position: absolute;
                top: 24px;
                left: -6px;
                background-color: #e52822;
                color: #fff;
                font-size: 12px;
                max-width: 95%;
                height: 22px;
                padding: 3px 12px 0px 13px;
                z-index: 11;
              }
            .float-promo:after {
                content: " ";
                position: absolute;
                left: 0px;
                top: 22px;
                border-top: 6px solid #851f1c;
                border-left: 6px solid transparent;
                border-bottom: none;
              }
            .text-catname{
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                margin: 8px 0;
            }

            .div-point{
                position: relative;
                .d-flex{
                    display: flex;

                    .text-recommend{
                        padding-left: 8px;
                    }
                }
                .div-badge{
                    width: 32px;
                    height: 20px;
                    border-radius: 6px;
                    background-color: #a0c245;
                    color: #fff;
                    text-align: center;
                    padding-top: 1px;
                    font-size: 14px;
                    font-weight: 600;
                }

                .div-text-point{
                    padding-left: 8px;
                }

                .text-point{
                    font-size: 12px;
                    color: #333333;
                    line-height: 20px;
                    letter-spacing: -0.24px;
                }

                .div-chef{
                    padding-top: 12px;
                    display: flex;

                    .chef-avatar{
                        .img-chef{
                            width: 32px;
                            height: 32px;
                            object-fit: fill;
                            border-radius: 32px;
                        }
                    }
                    .chef-desc{
                        display: flex;
                        flex-direction: column;
                        padding-left: 8px;

                        .chef-name{
                            font-size: 12px;
                            line-height: 20px;
                            letter-spacing: -0.24px;
                        }
                        .chef-office{
                            font-size: 12px;
                            color: #828282;
                            line-height: 14px;
                            letter-spacing: -0.24px;
                        }
                    }
                }

                .div-price{
                    position: absolute;
                    display: flex;
                    width: 100%;

                    .hot-deal{
                        width: 60%;
                        font-size: 12px;
                        letter-spacing: -0.24px;
                        color: #e52822;
                    }
                    .text-price{
                        width: 40%;
                        text-align: right;
                        font-size: 27px;
                        letter-spacing: -0.27px;
                        color: #26bed6;
                        font-weight: 600;
                        padding-right: 8px;

                        .s-text{
                            font-size: 12px;
                            letter-spacing: -0.36px;
                            color: #26bed6;
                        }
                    }
                }
            }
        }
      }

      .selected{
        background: #26bed6 !important;
        border: solid 0.5px #26bed6 !important;
        color: #fff !important;
    }
}

::ng-deep{
    .action-sheets-filter-food .action-sheet-container.sc-ion-action-sheet-ios{
        padding: 0;
    }

    .action-sheets-filter-food .action-sheet-group.sc-ion-action-sheet-ios{
        margin: 0;
        border-radius: 0;
    }

    .action-sheets-filter-food .action-sheet-button.sc-ion-action-sheet-ios{
        padding: 0;
        border-bottom: solid 0.5px #f2f2f2;
        margin-left: 16px;
        margin-right: 16px !important;
        width: 92%;
    }
    .action-sheets-filter-food .sc-ion-action-sheet-ios.selected {
        background-image: url('../../assets/imgs/ic_check.svg');
        background-repeat: no-repeat;
        background-position: right;
        width: 92%;
    }
    .action-sheets-filter-food .sc-ion-action-sheet-md.selected {
      background-image: url('../../assets/imgs/ic_check.svg');
      background-repeat: no-repeat;
      background-position: right;
      width: 100%;
  }
  
    .action-sheets-filter-food .action-sheet-title.sc-ion-action-sheet-ios{
      font-size: 18px;
      color: #000000;
      line-height: 27px;
      letter-spacing: -0.51px;
      font-weight: 600;
      text-align: left;
    padding-left: 16px;
  }
   
    .cls-border-bottom .action-sheet-button-inner.sc-ion-action-sheet-ios{
        border-bottom: solid 0.5px #f2f2f2;
    }

    .action-sheets-filter-food .action-sheet-button-inner.sc-ion-action-sheet-ios {
        width: 100%;
        height: 100%;
        color: black;
        font-size: 14px;
        justify-content: left;
    }
    .action-sheets-filter-food .action-sheet-button.sc-ion-action-sheet-ios {
        padding: 0;
        border-bottom: solid 0.5px #f2f2f2;
        margin-left: 16px;
        margin-right: 16px !important;
        width: 92%;
        height: 56px;
    }
    .action-sheets-filter-food .action-sheet-selected.sc-ion-action-sheet-ios{
        background-image: url('../../assets/imgs/ic_check.svg');
        background-repeat: no-repeat;
        background-position: right;
        width: 92%;
    }

    @media (min-height:812px) and (max-width: 870px) {
        .action-sheets-filter-food .action-sheet-wrapper.sc-ion-action-sheet-ios {
            margin-bottom: 0;
        }
       
        .sc-ion-action-sheet-ios-h.sc-ion-action-sheet-ios-s.ios.action-sheets-filter-food {
            position: absolute;
        }
    }

    ion-modal{ 
        transform:none !important; 
        -webkit-transform:none !important; 
    }
    
      
      .food-slider ion-segment-button{
        text-transform: capitalize;
        color: #fff;
      }
      
}

/////////////////////////style tab
.div-slide-food{
    padding-top:  8px;
    position: relative;
    
        .swiper-food{
            text-align: center;
            width: 100%;
            color: #222222;
            font-size: 16px;
            z-index: 99;
            
            .div-lunch{
              width: 50%;
              text-align: center;
              padding-bottom: 6px;
              font-size: 16px;
              padding-left: 50px;
            }
          
            .div-diner{
              width: 50%;
              text-align: center;
              padding-bottom: 12px;
              font-size: 16px;
              font-weight: 300;
              opacity: 0.7;
              padding-right: 48px;
            }
          
            .active-mark-food{
              position: absolute;
              bottom: -8px;
              border-bottom: solid 3px #26bed6;
              font-weight: 600 !important;
              transition: left 0.5s ease-out;
              width: 19%;
              left: 22%;
          
            }
            .sub-color{
              font-weight: 300 !important;
              opacity: 0.7;
            }
            .left-50{
                left: 61%;
                width: 16%;
            }
            .focus{
              font-weight: 600 !important;
              opacity: 1 !important;
            }
          }
          
          
          .div-wraper-food{
            width: 100%;
            height: 100%;
            position: relative;
          }
          
          .swiper-food.main-color{
            color: #26bed6 !important;
          }
          .div-lunch.main-color{
            color: #26bed6 !important;
            font-weight: bold !important;
          }
          .div-lunch.sub-color{
            color: #222222 !important;
            opacity: 0.7;
          }
        
          .div-diner.main-color{
            color: #26bed6 !important;
            font-weight: bold !important;
          }
          .div-diner.sub-color{
            color: #222222 !important;
            opacity: 0.7;
          }
        
          .active-mark-food.main-color{
            border-bottom: solid 3px #26bed6 !important;
          }
          .cls-tab-visible{
            visibility: visible;
            transition: visibility 2s, opacity 0.5s linear;
            opacity: 1;
            height: 48px;
            display: block;
          }
          .cls-tab-disabled{
            visibility: hidden;
            height: 0px;
            opacity: 0;
            transition: visibility 2s, opacity 0.5s linear;
            z-index: 0;
            display: none;
          }  
    }
    .div-content-diner{
    
        .title-text{
            height: 27px;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.5;
            color: #222222;
            text-align: left;
        }
        .sub-title-text{
            height: 15px;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: -0.34px;
            color: #333333;
            text-align: left;
        }
    
        .p-top-40{
            padding-top: 40px;
        }
        .p-top-24{
            padding-top: 24px;
        }
        .m-bottom-16{
            margin-bottom: 16px;
        }
    }
    
    .div-myorder{
        height: 100%;
    }