
         <div (click)="itemComboClick(item)" class="div-wrap-item">
         <div class="div-img">
            <img-loader class="img-item" [src]="item.image" backgroundSize="cover" spinner="true" ></img-loader>
          </div>
          <div *ngIf="item.promoTitle" class="float-promo">
              <div>{{item.promoTitle}}</div>
            </div>
          <div class="p-l-8"> 
            <div class="d-flex">
              <div class="text-catname">{{item.name}}</div>
              <div class="div-star">
                <img *ngIf="item.typePriceId == 1" src="../../assets/star/ic_star_1.svg">
                <img *ngIf="item.typePriceId == 2" src="../../assets/star/ic_star_2.svg">
                <img *ngIf="item.typePriceId == 3" src="../../assets/star/ic_star_3.svg">
              </div>
            </div>
            <div class="div-point">
              <div  class="d-flex" *ngIf="(item.avgPoint > 0 && item.totalBook24H >1)else noPoint">
  
                  <div *ngIf="item.avgPoint>0"  class="div-badge">{{item.avgPoint}}</div>
                  <div class="div-text-point text-point" *ngIf="item.avgPoint >=9">Tuyệt vời</div>
                  <div class="div-text-point text-point" *ngIf="item.avgPoint >=8 && item.avgPoint <9">Rất tốt</div>
                  <div class="div-text-point text-point" *ngIf="item.avgPoint >=7 && item.avgPoint <8">Khá tốt</div>
                  <div class="div-text-point text-point" *ngIf="item.avgPoint >=6 && item.avgPoint <7">Tạm được</div>
                  <div class="div-text-point text-point" *ngIf="item.avgpoint >= 5 && item.avgpoint <6">Không tốt</div>
                  <div *ngIf="item.avgPoint>0" class="text-recommend text-poin"> |<span class="p-left-8">{{item.numOfReview}} đánh giá</span></div>
      
              </div>
              <ng-template #noPoint>
                <div class="text-normal">Chưa có đánh giá</div>
              </ng-template>
  
              <div class="div-price">
                <div class="hot-deal" *ngIf='item.totalBook24H'>
                  <div>{{item.totalBook24H}} Khách đặt trong 24h qua</div>
                </div>
                <div class="text-price">
                  <div class="text-sub-price">1 tuần chỉ</div>
                  <div>{{item.priceDisplay}}<span class="s-text">đ</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
     