
<ion-header class="food-combo-detail-header cls-disabled">
  <ion-toolbar style="--border-width: 0">
      <ion-row>
          <ion-col size="1" class="col-header-1">
            <div style="position: absolute" (click)="goback()">
              <img class="img-back" src="./assets/imgs/ios-arrow-round-back.svg">
          </div>
          </ion-col>
          <ion-col size="10" class="col-header-2" *ngIf='comboitem'>
            <div class="div-comboname">
              <div class="text-comboname">
                <label class="text-title">{{comboitem.name}}</label>
              </div>
            </div>
          </ion-col>
          <ion-col size="1" class="col-header-3">
            <div class="img-sharehd" (click)="showCart()">
                <img class="img-cart" src="./assets/ic_food/supermarket.svg" >
                <ion-badge *ngIf="countcart" color="danger" class="cls-badge-cart-header">{{countcart}}</ion-badge>
            </div>
          </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content #scrollFoodDetail (ionScroll)="scrollFunction($event)" [scrollEvents]="true">
  <div class="food-combo-detail" *ngIf="(loaddatadone && slideData.length >0) else loadsk">
    <div *ngIf="!combodetail else hasprice">
      <div class="text-center">
        <div class="img-empty"><img  src="../../assets/ic_food/fried.svg"></div>
        <div class="text-empty">Thực đơn này chưa sẵn sàng</div>
        <div><button class="button button-main" (click)="goback()">Xem thực đơn khác</button></div>
      </div>
    </div>
    <ng-template #hasprice>
      <div class="div-wraper-image">
        <ion-slides (ionSlideDidChange)="slidechange()" [options]="slideOpts" #mySlider>
  
          <ion-slide *ngFor="let slide of slideData">
            <div id="grad1" class="grad1">
            </div>
            <img-loader class="slide-img" [src]="slide.image" backgroundSize="cover"></img-loader>
            <div class="div-go-back" (click)="goback()">
              <img class="img-back" src="./assets/imgs/ios-arrow-round-back-white.svg">
              <div class="div-img-background div-goback-background"></div>
            </div>
            <div class="badgescss" *ngIf="lengthslide > 1">
              <span>{{coutslide}}/{{lengthslide}}</span>
            </div>
            <div class="div-img-heart" (click)="showCart()">
                <img class="img-cart" src="./assets/ic_food/cart_white.svg">
                <div class="div-img-background div-cart-background"></div>
                <ion-badge *ngIf="countcart >0" color="danger" class="cls-badge-cart">{{countcart}}</ion-badge>
              </div>
  
          </ion-slide>
  
        </ion-slides>
  
      </div>
    <div class="foodcombodetail-content">
      <div class="div-wraper-section">
          <div class="div-section-one" *ngIf="comboitem">
              <div class="d-flex">
                  <div class="text-catname" *ngIf="comboitem">{{comboitem.name}}</div>
                  <div class="div-star">
                    <img *ngIf="comboitem && comboitem.typePriceId == 1" src="../../assets/star/ic_star_1.svg">
                    <img *ngIf="comboitem && comboitem.typePriceId == 2" src="../../assets/star/ic_star_2.svg">
                    <img *ngIf="comboitem && comboitem.typePriceId == 3" src="../../assets/star/ic_star_3.svg">
                  </div>
              </div>
              <div class="d-flex" *ngIf="(comboitem.avgPoint > 0 && comboitem.totalBook24H >1) else noPoint">
                  <div class="div-badge">{{comboitem.avgPoint}}</div>
                  <div class="text-recommend">{{comboitem.numOfReview}} đánh giá</div>
                  <div class="text-price" *ngIf="!priceChangeDisplay else pricechange">
                    <div>{{priceDisplay}} <span class="s-text">đ/tuần</span></div>
                  </div>
                  <ng-template #pricechange>
                    <div class="text-price">
                        <div >{{priceChangeDisplay}} <span class="s-text">đ/tuần</span></div>
                    </div>
                </ng-template>
              </div>
              <div class="div-border-bottom" *ngIf="comboitem.totalBook24H"></div>
              <ng-template #noPoint>
                <div class="text-price no-absolute" *ngIf="!priceChangeDisplay else pricechange">
                  <div>{{priceDisplay}} <span class="s-text">đ/tuần</span></div>
                  </div>
                  <ng-template #pricechange>
                    <div class="text-price no-absolute">
                        <div >{{priceChangeDisplay}} <span class="s-text">đ/tuần</span></div>
                    </div>
                </ng-template>
            </ng-template>
          
              <div class="d-flex" *ngIf="comboitem.totalBook24H">

                  <div class="div-rect">Đang bán chạy</div>
                  <div class="text-hot-sale">{{comboitem.totalBook24H}} Khách đặt trong 24h qua</div>
                </div>
              </div>
          </div>
          <div class="div-split-review"></div>
          <div class="div-section-menu">
            <div class="menu-title d-flex" *ngIf='combodetail'>
              <div class="text-week">Tuần</div>
              <div class="text-menu">{{textmon}}</div>
              <div class="text-arrow "><img src="../../assets/ic_food/ic_arrow.svg"></div>
              <div class="text-menu">{{textfri}}</div>
            </div>
            <div class="div-menu-item" *ngIf="menus.length >0">
              <div class="menu-item" *ngFor="let menu of menus; let idx = index" id="{{menu.id}}">
                <ion-item-sliding #slidingItem *ngIf="!menu.remove else itemdisabled">
                  <ion-item style="--padding-start:0;--background: transparent;--border-style:none;--padding-end:0">
                  <div class="d-flex">
                      <div class="div-left">
                          <div class="text-day" *ngIf="idx==0">Thứ 2</div>
                          <div class="text-day" *ngIf="idx==1">Thứ 3</div>
                          <div class="text-day" *ngIf="idx==2">Thứ 4</div>
                          <div class="text-day" *ngIf="idx==3">Thứ 5</div>
                          <div class="text-day" *ngIf="idx==4">Thứ 6</div>
      
                          <div class="text-sub-day" *ngIf="idx==0">{{textmon}}</div>
                          <div class="text-sub-day" *ngIf="idx==1">{{texttue}}</div>
                          <div class="text-sub-day" *ngIf="idx==2">{{textwed}}</div>
                          <div class="text-sub-day" *ngIf="idx==3">{{textthu}}</div>
                          <div class="text-sub-day" *ngIf="idx==4">{{textfri}}</div>
                        </div>
                        <div class="div-right">
                          <div *ngIf="!menu.isdayoff else dayoff">
                            <div *ngFor="let item of menu.mainmenu">
                              <div class="text-forecipe-1">{{item.name}}</div>
                            </div>
    
                            <div *ngFor="let item1 of menu.submenu">
                                <div class="text-forecipe-2">{{item1.name}}</div>
                            </div>
    
                            <div *ngFor="let item2 of menu.othermenu">
                                <div class="text-forecipe-3">{{item2.name}}</div>
                            </div>
                            <div *ngIf="menu.restaurentName" class="restaurent-name">{{ menu.restaurentName }}</div>
                          </div>
                          <ng-template #dayoff>
                            <div class="div-right div-just-center">
                              <div class="text-forecipe-1">Nghỉ</div>
                            </div>
                          </ng-template>
                          
                        </div>
                  </div>
                </ion-item>
                <ion-item-options side="end" *ngIf="!menu.isdayoff && menusoff.length <4">
                  <ion-item-option color="danger" (click)="removeMenu(menu, slidingItem)">
                    Bỏ bớt
                  </ion-item-option>
                  
                </ion-item-options>
                </ion-item-sliding>
                <ng-template #itemdisabled>
                    <div class="d-flex">
                      <div class="div-left bg-disabled">
                          <div class="text-day" *ngIf="idx==0">Thứ 2</div>
                          <div class="text-day" *ngIf="idx==1">Thứ 3</div>
                          <div class="text-day" *ngIf="idx==2">Thứ 4</div>
                          <div class="text-day" *ngIf="idx==3">Thứ 5</div>
                          <div class="text-day" *ngIf="idx==4">Thứ 6</div>
      
                          <div class="text-sub-day" *ngIf="idx==0">{{textmon}}</div>
                          <div class="text-sub-day" *ngIf="idx==1">{{texttue}}</div>
                          <div class="text-sub-day" *ngIf="idx==2">{{textwed}}</div>
                          <div class="text-sub-day" *ngIf="idx==3">{{textthu}}</div>
                          <div class="text-sub-day" *ngIf="idx==4">{{textfri}}</div>
                        </div>
                        <div class="div-right opt-disabled">
                          <div *ngIf="!menu.isdayoff else dayoff">
                            <div *ngFor="let item of menu.mainmenu">
                              <div class="text-forecipe-1">{{item.name}}</div>
                            </div>
    
                            <div *ngFor="let item1 of menu.submenu">
                                <div class="text-forecipe-2">{{item1.name}}</div>
                            </div>
    
                            <div *ngFor="let item2 of menu.othermenu">
                                <div class="text-forecipe-3">{{item2.name}}</div>
                            </div>
                            <div *ngIf="menu.restaurentName" class="restaurent-name">{{ menu.restaurentName }}</div>
                          </div>
                          <ng-template #dayoff>
                            <div class="div-right div-just-center">
                              <div class="text-forecipe-1">Nghỉ</div>
                            </div>
                          </ng-template>
                          
                        </div>
                  </div>
                </ng-template>
                <div [ngClass]="idx == menus.length-1 ? '' : 'div-line'"></div>
              </div>
            </div>
        </div>
        <div class="div-split"></div>

          <div class="div-section-two" *ngIf="arrdescription && arrdescription.length >0">
              <div class="sub-title">{{arrdescription[0].title}}</div>
              <div class="text-desc" [innerHTML]="arrdescription[0].content"></div>
          </div>

          <div class="div-split"></div>

          <app-foodchefitem [item]="chef" *ngIf="combodetail.focategory.categoryTypeId != -2 else itemcollectionrecommend"></app-foodchefitem>
          <ng-template #itemcollectionrecommend>
              <div class="div-collection-recommend" *ngIf="menuCollectionRecommend">
                <div class="sub-title">Món đỉnh tuần này</div>
                <div class="div-image-collection-recommend" >
                    <div class="div-wrap-image-recommend" [innerHTML]="menuCollectionRecommend.recommend"></div>
                    <img class="img-collection-recommend" [src]="menuCollectionRecommend.avatarRecommend" >
                </div>
              </div>
          </ng-template>

          <div class="div-split"></div>
          <div class="div-section-payment">
              <div class="sub-title">Phương thức giao hàng</div>
              <div class="text-desc p-top-8">- Bữa trưa được đóng gói trong khay nhựa thực phẩm ngay trước khi giao</div> 
              <div class="text-desc p-top-8">- Giao hàng miễn phí từ 11h30 đến 12h15 hàng ngày tại các khu vực:
                <div *ngFor="let item of District">
                  <ion-label class="text-content" >
                   <span class="namecity">+ {{item.namecity}}</span>: {{item.namedist}}
                  </ion-label>
                </div>
              </div>

              <div class="text-desc p-top-4">- Quý khách ngoài khu vực trên vui lòng để lại thông tin liên lạc, iVIVU sẽ cố gắng hỗ trợ Quý khách trong thời gian sớm nhất.<span (click)="changeplace()" class="text-yck"> Yêu cầu giao khu vực khác<img class="cls-img" src="./assets/imgs/vector.svg"></span></div>
          </div>

          <div class="div-split" *ngIf="numHotelReviews>0"></div>
          <div class="div-section-review">
              <div class="div-wraper-review" *ngIf="numHotelReviews>0">
                <label class="text-titlereview">
                  Đánh giá của khách hàng
                </label>
                <div class="div-review lh-normal" *ngIf="AvgPoint>9 && AvgPoint<=10 && numHotelReviews >0">
                  <ion-badge class="cls-ionbadge" ion-badge-border-radius>{{AvgPoint}}</ion-badge>
                  <div class="cls-ml6">
                    <div class="text-point">Tuyệt vời</div>
                    <div class="num-review">
                      {{numHotelReviews}} đánh giá
                    </div>
                  </div>
                </div>

                <div class="div-review lh-normal" *ngIf="AvgPoint>8 && AvgPoint<=9 && numHotelReviews >0">
                  <ion-badge class="cls-ionbadge" ion-badge-border-radius>{{AvgPoint}}</ion-badge>
                  <div class="cls-ml6">
                    <div class="text-point">Rất tốt</div>
                    <div class="num-review">
                      {{numHotelReviews}} đánh giá
                    </div>
                  </div>
                </div>
                <div class="div-review lh-normal" *ngIf="AvgPoint>7 && AvgPoint<=8 && numHotelReviews >0">
                  <ion-badge class="cls-ionbadge" ion-badge-border-radius>{{AvgPoint}}</ion-badge>
                  <div class="cls-ml6">
                    <div class="text-point">Khá tốt</div>
                    <div class="num-review">
                      {{numHotelReviews}} đánh giá
                    </div>
                  </div>
                </div>
                <div class="div-review lh-normal" *ngIf="AvgPoint>5 && AvgPoint<=7 && numHotelReviews >0">
                  <ion-badge class="cls-ionbadge" ion-badge-border-radius>{{AvgPoint}}</ion-badge>
                  <div class="cls-ml6">
                    <div class="text-point">Tạm được</div>
                    <div class="num-review">
                      {{numHotelReviews}} đánh giá
                    </div>
                  </div>
                </div>
                <div class="div-review lh-normal" *ngIf="AvgPoint > 0 && AvgPoint<=5 && numHotelReviews >0">
                  <ion-badge class="cls-ionbadge" ion-badge-border-radius>{{AvgPoint}}</ion-badge>
                  <div class="cls-ml6">
                    <div class="text-point">Không tốt</div>
                    <div class="num-review">
                      {{numHotelReviews}} đánh giá
                    </div>
                  </div>
                </div>
                <div *ngIf="arrimgreview.length>0" class="innerreview1">
                  <div *ngFor="let review of arrimgreview;let i = index" [ngClass]=" i==0 ? '' : 'div-wrap-review'">
                    <img class="img2" *ngIf="review && review.imageUrl" src={{review.imageUrl}} />
                    <div *ngIf="i>1" (click)="seemoreimgrv()" class="text-seemore">
                      Xem thêm {{countimgrv}} hình
                    </div>
                  </div>
                </div>
                <div *ngIf="reviews.length>0" class="div-recent-review">
                  <label class="text-recent-review">
                    Đánh giá gần đây
                  </label>
                </div>
                <div [ngClass]=" idx ==0 ? 'div-hotelreview mt16' : 'div-hotelreview mt25'"
                  *ngFor="let msg of reviews; let idx = index">
                  <div *ngIf="msg.reviewPointDisplay>9 && msg.reviewPointDisplay<=10" class="pos-relative">
                    <div class="div-review">
                      <ion-badge class="cls-ionbadgerw" ion-badge-border-radius>{{msg.reviewPointDisplay}}</ion-badge>
                      <div class="cls-ml8">Tuyệt vời
                      </div>
                    </div>
                  </div>
                  <div *ngIf="msg.reviewPointDisplay>8 && msg.reviewPointDisplay<=9">
                      <div class="div-review">
                        <ion-badge class="cls-badge" ion-badge-border-radius>{{msg.reviewPointDisplay}}</ion-badge>
                        <div class="cls-ml8">Rất tốt
                        </div>
                      </div>
                    </div>
                
                    <div *ngIf="msg.reviewPointDisplay>7 && msg.reviewPointDisplay<=8">
                      <div class="div-review">
                        <ion-badge class="cls-badge" ion-badge-border-radius>{{msg.reviewPointDisplay}}</ion-badge>
                        <div class="cls-ml8">Khá tốt
                        </div>
                      </div>
                    </div>
                    <div *ngIf="msg.reviewPointDisplay>5 && msg.reviewPointDisplay<=7">
                      <div class="div-review">
                        <ion-badge class="cls-badge" ion-badge-border-radius>{{msg.reviewPointDisplay}}</ion-badge>
                        <div class="cls-ml8">Tạm được
                        </div>
                      </div>
                    </div>
                    <div *ngIf="msg.reviewPointDisplay<=5">
                      <div class="div-review">
                        <ion-badge class="cls-badge" ion-badge-border-radius>{{msg.reviewPointDisplay}}</ion-badge>
                        <div class="cls-ml8">Không tốt
                        </div>
                      </div>
                    </div>
                    <div class="cls-textreview">
                      <label text-wrap>
                        {{msg.bestFeature}}
                      </label>
                    </div>
                    <div *ngIf="msg.foreviewImage.length>0" class="innerreview" >
                      <div *ngFor="let review of msg.foreviewImage;let i = index" >
                        <img (click)="imgreview(msg.foreviewImage,i,msg.customerName,msg.reviewDate)" class="img1" *ngIf="review.imageUrl && i < 3"
                          src={{review.imageUrl}} />
                      </div>

                    </div>
                    <div class="date-review">
                      <div><label class="text-date-reviews" text-wrap>{{msg.reviewDate}}</label></div>
                      <div><label class="text-date-reviews" text-wrap>{{msg.customerName}}</label></div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="numHotelReviews>3" align="center" class="div-seedetail">
                <button ion-button clear class="text-seedetails" (click)="seemorereview()">Xem {{numHotelReviews}} đánh giá <img src="./assets/imgs/vector.svg"></button>
              </div>
          <div class="div-split"></div>
          <div class="div-section-menu-relate">
              <div class="text-title m-bottom-16">Bữa ăn tương tự</div>

              <div class="div-wrap-slide">
                <div class="div-slide-item" *ngFor="let item of menurelates; let idx = index">
                      <app-fooditemlike [item]="item"></app-fooditemlike>
                </div>
            </div>
          </div>
       </div>
    </ng-template>
    
    </div> 
    <ng-template #loadsk>
            <div>
              <div class="div-sk-image">
                <ion-skeleton-text animated style="width:100%;height:224px"></ion-skeleton-text>
              </div>
              <div padding>
                <div class="div-sk-text-title">
                  <ion-skeleton-text animated style="width:100%;margin: 0;height: 16px;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width:75%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width:50%;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                </div>
                <div class="div-sk-detail" *ngFor="let i of itemsSk">
                  <ion-row class="row-item-hoteldetail-sk">
                    <ion-col size="4" class="col-img-hoteldetail-sk">
                      <ion-skeleton-text animated style="width:104px;height:104px;border-radius:6px;margin:0"></ion-skeleton-text>
                    </ion-col>
                    <ion-col size="8" class="col-description-hoteldetail-sk" style="line-height: 16px;padding-top: 0">
                      <ion-skeleton-text animated style="width: 50%;margin: 0;height: 16px;"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 100%;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 75%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 50%;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="row-item-description-sk">
                    <ion-skeleton-text animated style="width: 104px;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 83%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 67%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 100%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                  </ion-row>
                  <ion-row>
                    <ion-col size="8.5" style="padding: 0"></ion-col>
                    <ion-col size="3.5" style="padding: 0">
                      <ion-skeleton-text animated style="margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6.3" style="padding: 0"></ion-col>
                    <ion-col size="5.7" style="padding: 0">
                      <ion-skeleton-text animated style="margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="row-item-button-sk">
                    <ion-skeleton-text animated style="width: 100%;margin: 0;height: 48px;border-radius: 6px;margin-top:16px">
                    </ion-skeleton-text>
                  </ion-row>
                </div>
              </div>
          
            </div>
            <div class="div-sk-detail" *ngFor="let i of itemsSk">
              <ion-row class="row-item-hoteldetail-sk">
                <ion-col size="4" class="col-img-hoteldetail-sk">
                  <ion-skeleton-text animated style="width:104px;height:104px;border-radius:6px;margin:0"></ion-skeleton-text>
                </ion-col>
                <ion-col size="8" class="col-description-hoteldetail-sk" style="line-height: 16px;padding-top: 0">
                  <ion-skeleton-text animated style="width: 50%;margin: 0;height: 16px;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 100%;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 75%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 50%;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row class="row-item-description-sk">
                <ion-skeleton-text animated style="width: 104px;margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 83%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 67%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%;margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
              </ion-row>
              <ion-row>
                <ion-col size="8.5" style="padding: 0"></ion-col>
                <ion-col size="3.5" style="padding: 0">
                  <ion-skeleton-text animated style="margin: 0;margin-top:16px;height: 16px;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6.3" style="padding: 0"></ion-col>
                <ion-col size="5.7" style="padding: 0">
                  <ion-skeleton-text animated style="margin: 0;margin-top:8px;height: 16px;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row class="row-item-button-sk">
                <ion-skeleton-text animated style="width: 100%;margin: 0;height: 48px;border-radius: 6px;margin-top:16px">
                </ion-skeleton-text>
              </ion-row>
            </div>
    </ng-template>
</ion-content>
<ion-footer *ngIf="combodetail && loaddatadone">
  <div class="div-footer">
    <div class="div-button-flex" >
      <button (click)="addToCart()" ion-button round outline [ngClass]="(menusoff && menusoff.length) <5 ? 'button button-cart' : 'button button-cart btn-disabled'">Thêm vào giỏ hàng</button>
      <button (click)="book()" ion-button round outline [ngClass] ="(menusoff && menusoff.length) <5 ? 'button button2' : 'button button2 btn-disabled' ">Đặt ngay</button>
    </div>
  </div>
 
</ion-footer>