.img-close{
    max-width: 150%;
  }
  .no-shadow {
    box-shadow: none !important;
  }
  .header-discount {
    
    .toolbar-infobkg{
      height: 40px;
      text-align: center
    }
    .title-infobkg{
      font-weight: bold;
      padding: 0;
      padding-top: 10px;
    }
    .img-close{
      max-width: 150%;
    }
    .cls-button{
      position: absolute;
      .btn-close{
        background: #ffffff;
        left: -6px !important;
        top: -22px;

        .header-img-close{
          max-width: 36px;
        }
      }
    }
    ion-header .div-close {
      height: 36px !important;
    }
  }
  .header-discount:after {
    background-image: none !important;
  }
  .d-flex {
    display: flex;
  }
.btnnone
{
    color: #ffffff;
    width: 84px;
    border: 1px solid #26bed6;
    background-color: #26bed6;
    font-size: 14px !important;
    margin: 0;
    height: 39px !important;
    margin-top: 9px;
    padding: 0;
}
.btnnonesuccess
{
    width: 100%;
    background-color: white;
    font-size: 14px !important;
    margin: 0;
    height: 30px !important;
    border: solid 1px #447a00;
    color: #447a00;
}
.cls-m16
{
    margin-left: 16px;
    margin-right: 16px;
}
.ion-item
{
  --padding-start: 0px;

  .text-input{
    font-size: 14px;
    color: #828282;
    font-weight: 100;
    --padding-start: 0;
  }
}
.cls-input
{
    border:1px solid #bdbdbd ;
    border-radius: 6px; 
}

::ng-deep{
    // .sc-ion-input-md-h {
    //     --padding-top: 10px;
    //     --padding-end: 0;
    //     --padding-bottom: 10px;
    //     font-size: inherit;
    //     border: 1px solid #bdbdbd;
    //     border-radius: 6px;
    // }
    .cls-m16 .native-input.sc-ion-input-md {
        padding-left: unset;
        padding-right: unset;
        -webkit-padding-start: var(--padding-start);
        padding-inline-start: var(--padding-start);
        -webkit-padding-end: var(--padding-end);
        padding-inline-end: var(--padding-end);
        font-size: 14px;
        color: #828282;
    }
}
.cls-col
{
  align-self: flex-end;
}

.div-split-panel {
  margin: 16px -16px;
  height: 7px;
  background-color: #f2f2f2 !important;
}
.title-voucher {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #3f3b3b;
}
.div-search {
  width: 100%;
  //padding: 9px 96px 9px 8px;
  border-radius: 6px;
  border: solid 1px #ecf0f5;
  background-color: #fff;
  margin-right: 8px;
  margin-top: 9px;
  padding-left: 9px;

  .div-inputcode {
    margin-left: 4px;
  }

  .div-img-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}
