
<ion-header>
  <ion-toolbar style="min-height: 0px;text-align: center">
      <ion-row>
        <ion-col style="text-align: center">
          <div style="align-self: center" >
              <div style="padding-top: 6px;font-size: 20px;font-weight: bold;"><label class="text-title">Hoàn thành</label></div>
          </div>
          <div class="div-quick-back" (click)="showQuickBack()">
            ...
          </div>
        </ion-col>
      </ion-row>
      </ion-toolbar>
</ion-header>
<ion-content padding>
<div  style="text-align: center">
  <img  src="./assets/ic_flight/step_4.svg">
  </div>
  <div class="img-trip-empty">
    <img class="img-empty" src="./assets/empty/imgdone.svg">
</div>
<div style="margin-top: 5px">
  <div *ngIf='stt==1 else paylater'>
    <div class="m-bottom-8">
      <ion-label class="text text-tealish">
        Xác nhận thanh toán thành công
      </ion-label>
    </div>
    <div class="text p-top-12">
      Mã booking <span class='text-bold text-tealish'>{{bookingCode}}</span>
    </div>
    <div class="p-top-12">  
      <ion-label class="text">
        Vé điện tử đang được xử lý sẽ được <span class='text-tealish'>iVIVU</span> gửi đến email của Quý khách trong vòng <span class="text-bold">24h tiếp theo.</span>
        Cám ơn Quý khách đã sử dụng dịch vụ <span class='text-tealish'>iVIVU.com</span>
      </ion-label>
    </div>
    <div class="text p-top-12">
        Nếu cần sự hỗ trợ Quý khách vui lòng liên hệ tổng đài <span class="text-orange">1900 1870</span> để được trợ giúp.
    </div>
   

  </div>

  <ng-template #paylater>
    <div class="text"> Mời quý khách thanh toán:</div>
    <div>
      <ion-label class="text" text-wrap>
        <span style="font-weight: bold">{{gf.numberToCurrency(total, '.')}}đ </span> trước
        <span style="font-weight: bold">{{text}}</span>
      </ion-label>
    </div>
    <div>
      <ion-label class="text">
        Mã đặt chỗ: <span style="font-weight: bold">{{bookingCode}}</span> <span style="color: #26bed6;padding-left: 10px"  (click)="showBooking()">Xem đặt chỗ</span>
      </ion-label>
      
    </div>
  </ng-template>

  <div></div>
  
</div>
</ion-content>
<ion-footer>
<div class="div-button-payment-done">
  <button (click)="addToCalendar()" ion-button round outline class="button button2">Thêm thông tin chuyến bay vào lịch</button>
  <button (click)="next()" ion-button round outline class="button button2 m-top-0">Quay về trang chủ</button>
</div>
</ion-footer>