.flighttopreview-section{
  padding: 16px 0 24px 16px;
  background-color: #f2f2f2;

  .d-flex {
    display: flex;
  }
  .m-top-14 {
    margin-top: 14px;
  }
    .title-padding{
        padding-right:16px !important;
      }

    .text-title2
    {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        color: #3f3b3b;
    }
   
    .div-reviews {
      padding-top: 8px;
      align-items: center;
      color: var(--ion-color-primary);

      .div-badge {
        display: flex;
        align-items: center;
        margin-right: 8px;

        .text-point {
          padding: 8px 16px;
          border-radius: 4px;
          background-color: #9fc43a;
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
        }
        
        .text-comment {
          font-size: 18px;
          letter-spacing: -0.4px;
          text-align: left;
        }
      }

      .text-point-des {
        font-size: 18px;
        letter-spacing: -0.4px;
        text-align: left;
        margin-right: 4px;
        font-weight: 600;
      }
    }
    

    .div-content-review,.div-loadmore {
      display: flex;
      overflow-x: scroll;

      .div-wrap-review-group {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        

        .div-wrap-review-item {
          position: relative;
          background-color: #fff;
          padding: 16px 16px 24px;
          border-radius: 6px;
          min-width: 340px;
          margin-bottom: 8px;
          min-height: 186px;
        }

        .div-avatar {
          width: 32px;
          height: 32px;
          margin-right: 8px;
        }
        .v-align-center{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .div-name {
          font-size: 16px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.4;
          letter-spacing: normal;
          text-align: left;
          color: #3f3b3b;
        }
        .div-date {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.4;
          letter-spacing: normal;
          text-align: left;
          color: #868998;
        }
    
        .div-text {
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.4;
          letter-spacing: normal;
          text-align: left;
          color: #3f3b3b;

          overflow: hidden;
          max-width: 308px;
          max-height: 68px;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          height: auto;
          display: -webkit-box;
          /* autoprefixer: ignore next */ -webkit-box-orient: vertical;
        }
      }
      
    }
    
    .div-see-more {
      padding: 12px 24px;
      border-radius: 5px;
      border: solid 1px #003c71;
      background-color: #fff;
      width: 240px;

      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.26;
      letter-spacing: normal;
      text-align: center;
      color: #003c71;
      margin: 0 auto;
      margin-top: 8px;
    }

    .div-see-review {
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: right;
      color: #26bed6;

      position: absolute;
      right: 16px;
      bottom: 8px;
    }
}

@media(min-width:350px) and (max-width:375px){
  .div-wrap-review-item {
      min-width: 296px !important;
  }

  .div-text {
    max-width: 264px !important;
  }
}