<ion-header class="flightnotify-header">
      <ion-row>
        <ion-col class="header-title"><label>Thông báo ({{valueGlobal.countNotifi}})</label>
        </ion-col>
    </ion-row>
</ion-header>

<div class="flightnotify-content">
  <div class="inbox-content" *ngIf="!loaddatadone else loaddone">
    <ion-row *ngFor="let item of itemskeleton">
        <ion-row class="cls-border-bottom" style="width:100%">
                <ion-item style="--padding-start:0;--background: transparent;--border-style:none;--inner-padding-end:0;width: 100%;">
                  <ion-row style="width:100%">
                      <ion-col size="1.2" style="padding: 0">
                          <div>
                            <ion-skeleton-text animated style="width:100%;margin-top: 6px;height: 24px;width: 24px;border-radius:24px"></ion-skeleton-text>
                          </div>
                        </ion-col>
                        <ion-col size="10.8" style="padding: 0">
                          <div><ion-skeleton-text animated style="width:100%;margin-top: 8px;height: 16px;"></ion-skeleton-text></div>
                          <div><ion-skeleton-text animated style="width:100%;margin-top: 8px;height: 16px;"></ion-skeleton-text></div>
                          <div><ion-skeleton-text animated style="width:25%;margin-top: 8px;height: 16px;"></ion-skeleton-text></div>
                      </ion-col>
                  </ion-row>
                </ion-item>
      </ion-row>
    </ion-row>
  </div>
  <ng-template #loaddone>
    <div class="inbox-content-empty" *ngIf="items.length == 0 && loaddatadone">
      <div class="img-inbox-empty">
        <div class="img-empty"><img  src="../../assets/empty/island.svg"></div>
      </div>
      <div class="text-trip-empty">
        <label>Quý khách chưa có tin nhắn mới</label>
      </div>
  </div>


 
  <div class="inbox-content" *ngIf="items && items.length > 0 && loaddatadone">
    <div  class="div-scroll margin-left-16" *ngIf="items && items.length > 0 && loaddatadone">
      <div class="div-flex">
        <button 
        ion-button round outline [ngClass]="isAll ? 'btn-typeMessenger-action margin-left-0': 'btn-typeMessenger margin-left-0'" (click)="funcAll()">Tất cả</button>
        <button 
        ion-button round outline [ngClass]="isProduct ? 'btn-typeMessenger-action': 'btn-typeMessenger'" (click)="funcProduct()">Sản phẩm</button>
        <button 
        ion-button round outline [ngClass]="isOrder ? 'btn-typeMessenger-action': 'btn-typeMessenger'" (click)="funcOrder()">Đơn hàng</button>
        <button 
        ion-button round outline [ngClass]="isOther ? 'btn-typeMessenger-action': 'btn-typeMessenger'" (click)="funcOther()">Khác</button>
      </div>
    </div>
    <div *ngIf="!textnotifyType">
      <div  class="mess-card" *ngFor="let item of items" [ngClass]="items && items.length > 0 && !item.status ? 'mess-card' : 'unmess-card' ">
        <div class="div-detail" (click)="updateStatusMessage(item)" >
          <div class="div-flex">
            <img *ngIf="item.notifyType == 'product'" class="noti-img" src="./assets/imgs/noti_fire.svg" />
            <img *ngIf="item.notifyType == 'booking'" class="noti-img" src="./assets/imgs/noti_clipboard.svg" />
            <div *ngIf="item.notifyType == 'product'"  class="noti-text">
              Sản phẩm
            </div>
            <div *ngIf="item.notifyType == 'booking'"  class="noti-text">
              Đơn hàng
            </div>
            <div class="noti-text-time">
              {{item.date}}
            </div>
        </div>
        <div class="cls-border">

        </div>
        <div class="noti-text-title">
          {{item.title}}
        </div>
        <div class="noti-text-content">
          {{item.message}}
        </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="textnotifyType">
      <div class="inbox-content-empty" *ngIf="countNoti == 0">
        <div class="img-inbox-empty">
          <div class="img-empty"><img  src="../../assets/empty/island.svg"></div>
        </div>
        <div class="text-trip-empty">
          <label>Quý khách chưa có tin nhắn mới</label>
        </div>
    </div>
      <div class="mess-card" *ngFor="let item of items" [ngClass]="items && items.length > 0 && !item.status ? 'mess-card' : 'unmess-card' ">
        <div *ngIf="item.notifyType==textnotifyType" class="div-detail" (click)="updateStatusMessage(item)" >
          <div class="div-flex">
            <img *ngIf="item.notifyType == 'product'" class="noti-img" src="./assets/imgs/noti_fire.svg" />
            <img *ngIf="item.notifyType == 'booking'" class="noti-img" src="./assets/imgs/noti_clipboard.svg" />
            <div *ngIf="item.notifyType == 'product'"  class="noti-text">
              Sản phẩm
            </div>
            <div *ngIf="item.notifyType == 'booking'"  class="noti-text">
              Đơn hàng
            </div>
            <div class="noti-text-time">
              {{item.date}}
            </div>
        </div>
        <div class="cls-border">

        </div>
        <div class="noti-text-title">
          {{item.title}}
        </div>
        <div class="noti-text-content">
          {{item.message}}
        </div>
        </div>
      </div>
</div>
</div>
  </ng-template>

    
</div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!loadend">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

