    ion-item.item-ios {
        padding-left: 0;
      }
      .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 15px !important;
        margin: 0 auto !important;
     }
     .m-top-logo {
      text-align: center;
      margin-top: calc(env(safe-area-inset-top) - 30px);
     }
.div-relative {
  
  .img-close{
		margin-top: env(safe-area-inset-top);
		height: 40px;
		margin-left: 8px;
	  }
}
     .center {
      padding: 57px 0 0 0;
      text-align: center;
      height: 100%;
      background-image: url('../../assets/backgroundnew.jpg')
      }
      ion-item{
          --background: initial;
          --border-color: #fff;
      }
      .text-button{
      text-align:center;
      width: 50%;
      font-size: 16px;
      color: #ffffff
    }
    .button-outline {
      --border-color:#ffffff;
      --border-width: 1px;
      --border-style: solid;
    }
    .div-go-back{
      position: absolute;
      top: 16px;
      color: #ffffff;
      width: 48px;
      height: 48px;
      z-index: 1;
    }
    .text-color
    {
      color:white
    }
    .passwordIcon[_ngcontent-c0] {
      font-size: 2rem !important;
      position: relative !important;
      top: 10px !important;
      margin: 0 auto !important;
  }
  .ion-item
  {
    --padding-start: 0px;
    --inner-border-width: 0 0 0px 0;
    width: 108%;
    margin-top: 5px;
    // margin-left: 10px;
  }

