<div class="d-flex f-column" *ngIf="item">
    <div class="sub-title" *ngIf="(item && item.categoryTypeId != -2) else itemcollection">Thực đơn được thiết kế bởi</div>
    <ng-template #itemcollection>
        <div class="sub-title">Món đỉnh tuần này</div>
    </ng-template>
    <div class="div-chef">
        <div class="div-avatar">
            <img class="img-chef" [src]="item.avatar" *ngIf="item.avatar else noavatar">
            <ng-template #noavatar><img class="img-chef no-img-background" src="https://beta-olivia.ivivu.com/upload/avatar/avatar-default-white.png"></ng-template>
        </div>
        <div class="chef-name" *ngIf="(item && item.categoryTypeId != -2) else namecollection">{{item.name}}</div>
        <ng-template #namecollection>
            <div class="chef-name" [innerHTML]="item.name"></div>
        </ng-template>
        <div class="chef-office-avatar" *ngIf="item.forestaurant">{{item.forestaurant.name}}</div>
    </div>
    <div class="text-desc" *ngIf="item">{{item.notes}}</div>
</div>
