.p-top-20{
    padding-top: 20px;
}
.div-chef{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 16px;

    .div-avatar{
        .img-chef{
            width: 98px;
            height: 98px;
            object-fit: fill;
            border-radius: 98px;
        }
    }
   
        .chef-name{
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.24px;
            margin-top: 8px;
        }
        .chef-office-avatar{
            font-size: 14px;
            color: #828282;
            line-height: 20px;
            letter-spacing: -0.24px;
        }
}
.div-split{
    height: 6px;
    background: #f2f2f2;
    margin: 16px -16px 24px -16px;
}
.p-top-8{
    padding-top: 8px;
}
.m-bottom-16{
    margin-bottom: 16px;
}
.text-title{
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.13px;
    font-weight: 600;
}
.sub-title{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.34px;
}
.text-right{
    text-align: right;
}
.f-column{
    flex-direction: column;
}
.text-desc{
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 21px;
}
.text-sub-desc{
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 21px;
    color: #4f4f4f;
}